/* -----------------------------------------------------
 * Base styles
 * ----------------------------------------------------- */
:root {
  /* non-theme css-variables */
  --example-height-variable: 5rem;
}

* {
  background-repeat: no-repeat;
}

/* hide from view, but leave enabled for screen reader accessability
 * (see https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link) */
 .visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
/* allow the element to be focusable when navigated to via the keyboard */
.hidden-focusable:active,
.hidden-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: normal;
	width: auto;
}

/* Style HTML5 semantic elements for older, unsupported browsers */
article, aside, footer, header, nav, section {
display:block;
}

/* Style "Javascript disabled" notification/warning */
.js-notification {
  padding: 1rem 2rem;
  border: 2px solid red;
  margin: 1rem;
}

/* ================================== */

/*
    Fonts
*/

@font-face {
    font-family: 'Open Sans Condensed Bold';
    font-style: normal;
    font-weight: 700;
    src: url(open-sans-condensed-bold.woff2) format('woff2'),
            url(open-sans-condensed-bold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: url(open-sans-extra-bold.woff2) format('woff2'),
            url(open-sans-extra-bold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(open-sans-regular.woff2) format('woff2'),
            url(open-sans-regular.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url(merriweather-regular.woff2) format('woff2'),
            url(merriweather-regular.woff) format('woff');
}

body {
    background-color: #17141D;
    font-family: 'Open Sans Condensed Bold', sans-serif;
    font-size: 16px;
    color: #E7E4E6;
}

/* Background image for pages */
.background {
    position: fixed;
    width: 100%;
    z-index: -1;
    top: -100px;
    left: 0px;
    margin: 0px auto;
}

/* Something for headbanner */
.heading-top {
    position: relative;
    width: 100%;
    height: 65px;
}

/* What even is this? */
.heading-page-top {
    width: 100%;
    height: 39px;
    background-color: #17141D;
}

/* Another something for headbanner - combine with above? */
.shiftstoned-heading {
    margin-left: 40px;
    height: 104px;
    width: 1250px;
}

/* Container for base page content */
.bodyGrid {
    margin-left: 40px;
    background-color: #17141D;
    border: 0px solid;
    border-bottom: none;
    width: 1250px;
    min-height: 1350px;
}
