
/* -----------------------------------------------------
 * Body content styles
 * ----------------------------------------------------- */
body {
  background-color: #17141D;
  font-family: 'Open Sans Condensed Bold', sans-serif;
  font-size: 16px;
  color: #E7E4E6;
}

a {
  color: #81C3F4;
  text-decoration: none;
  font-family: 'Open Sans ExtraBold', sans-serif;
}
