/*
  Unique styles for the Drafter tool
*/

.drafterControlPanel {
  height: 70px;
  background-color: #2E2C3D;
}

.drafterControlLabel {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-top: 10px;
}
