/*
  Unique styles for the Drafter tool
*/

.drafterControlPanel {
  height: 70px;
  background-color: #2E2C3D;
}

.drafterControlLabel {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-top: 10px;
}

.drafterSearch {
  height: 30px;
  border-radius: 7px;
  border: 0px;
  font-family: 'Open Sans', sans-serif; padding: 2px;
}

.drafterPack select {
   background-color: #FFFFFF;
   width: 268px;
   height: 30px;
   padding: 0px;
   line-height: 1;
   border: 0px solid #458A9E;
   border-radius: 7px;
   outline: none;
   opacity: 1; /* Firefox */
   font-family: 'Open Sans', sans-serif;
 }
