---
title: Shiftstoned Drafter - Evaluator Profile - Eternal Journey
layout: layouts/html.njk
section: Drafter
bg_img: ../../images/BackgroundDrafter.jpg
about: ../about/
override:tags: []
date: Last Modified
---
<div class="textcol">

  <br /><br />


    <div class="title">Evaluator: Eternal Journey</div>

    <div class="subtitle">
     Eternal Journey profile goes here
   </div>
    <br>

    <div class="tagline">
     Will include info about team members and <a href="https://www.twitch.tv/jedi_ej" target=_blank">links to relevant resources</a>
    </div>

      <a href="../../images/EvaluatorJedi_EJ.png" style="background-color: rgb(23, 20, 29);" target="_blank"><img style="position: absolute; left: 80px; top: 210px; width: 150px;"  src="../../images/EvaluatorJedi_EJ.png" ></a>

    <br>
    <p>
      Card evaluations for the <strong>ShiftStoned drafter</strong> are provided by <a href="">Eternal Journey</a>. Suspendisse id orci malesuada, tincidunt mauris ac, tincidunt justo. Pellentesque ultricies, mauris quis luctus pulvinar, augue enim maximus felis, quis auctor ante sem at diam. Suspendisse mollis fringilla vehicula. Integer ullamcorper maximus tortor. Fusce eget erat erat. In et tellus vel diam ultricies consequat vel nec mi. In lobortis accumsan rhoncus. Donec sed iaculis enim, at tempor neque. Nam porta sapien in risus venenatis tincidunt. Nam est lectus, ornare eu mollis quis, pharetra et lectus. Fusce ac tortor nec est feugiat interdum.
    </p>

</div>
