---
title: Shiftstoned Drafter
layout: layouts/html.njk
section: Drafter
bg_img: ../images/BackgroundDrafter.jpg
offset: 'top: -100px;'
about: about/
override:tags: []
---
      <!-- Container for top controls -->
      <div class="drafterControlPanel">

        <!-- Search control -->
        <div class="drafterControlLabel" style="margin-left: 25px;">
          S E A R C H<br>
          <input class="drafterSearch" type="text" placeholder="  Keyword" name="Search" >
        </div>

        <!-- Evaluator control -->
        <div class="drafterControlLabel" style="margin-left: 50px; margin-right: 10px;">
          E V A L U A T O R
          <div>
            <a href="EternalJourney/">Eternal Journey</a>
          </div>
          <a href="EternalJourney/"><img class="evaluatorImg" style="margin-top: -75px; margin-right: -105px;" src="../images/EvaluatorJedi_EJ.png"></a>
        </div>

      </div>

      <!-- Column for Drafter Cards -->
      <div class="drafterCardCollection">

        {%- include "partials/placeholder/drafterCardCollection.njk" %}


        <!-- Column for Drafter Decklist -->
        <div class="drafterDeckPanel">

          <div>
            <button class="button button4" style="float: left;">POOL</button></a>

            <a class="tabs" href="">
            <button class="button button5" style="float: left;">DECK</a></button>

            <div style="font-size: 12px; float: left; font-family: 'Open Sans Condensed', sans-serif; margin: 5px;">IMPORT</div>

            <div style="font-size: 12px; float: left; font-family: 'Open Sans Condensed', sans-serif; margin: 5px;">EXPORT</div>

            <div style="font-size: 12px; float: left; font-family: 'Open Sans Condensed', sans-serif; margin: 5px;">EPC</div>

          </div>

          <div class="deckBox">
            {%- include "partials/placeholder/decklist.njk" %}
          </div>

        </div>
