---
title: Drafter
offset: 'top: -100px;'
about: about/
page_styles:
    - css/app.css
page_scripts:
    - js/cards.js
    - js/index.js
---
<!-- Main page content -->
{# <div id="app"></div> #}

<div style="width: 1000px;">

  <div style="font: green; font-family: 'Open Sans Condensed', sans-serif; font-size: 30px;">
    <span style="text-transform: uppercase;">Launching soon: a new fan-built Draft tool for Eternal Card Game..</span>
  </div>

  featuring evaluations by EJ_Jedi and his Eternal Journey Podcast co-hosts Johnholio and darth_herman2

  <img src="/images/drafter/DrafterTeaser.JPG" style=" width: 85%";>

</main>
