---
title: Drafter
offset: 'top: -100px;'
about: about/
page_styles:
    - css/app.css
page_scripts:
    - js/cards.js
    - js/index.js
---
<!-- Main page content -->
{# <div id="app"></div> #}

<main class="textcol">

  <div>
    Coming soon: a new fan-built Draft tool for Eternal Card Game...
  </div>  

  featuring evaluations by EJ_Jedi and his Eternal Journey Podcast co-hosts Johnholio and darth_herman2

  <img src="/images/drafter/DrafterTeaser.JPG" style=" width: 85%";>

</main>
