---
title: Example articles pages
layout: layouts/drafter.njk
override:tags: []
---

    <a href="example-article/">Link to example article</a>

    <h2>List of articles:</h2>
    <ul>
    {%- for page in collections.news %}
        <li>
            <a href="{{ page.url | url }}">{{ page.data.title }}</a> -
            <time datetime="{{ page.date }}">{{ page.date}}</time>
        </li>
    {%- endfor %}
    </ul>
