---
title: Shiftstoned Drafter
layout: layouts/drafter.njk
override:tags: []
---
    <!-- Container for top controls -->
    <div style="height: 70px; background-color: #2E2C3D;">

      <!-- Search control -->
      <div class="controlLabel" style="margin-left: 25px;">
        S E A R C H<br>
        <input class="a" style="height: 30px; border-radius: 7px; border: 0px; font-family: 'Open Sans', sans-serif; padding: 2px;" type="text" placeholder="  Keyword" id="card-search" name="card-search" >
      </div>

      <!-- Pack control -->
      <div class="controlLabel" style="margin-left: 50px; margin-right: 10px;">
        P A C K
        <div class="cardset" style="border: solid 0px white;">
          <select>
          <!-- <select class="ui fluid search selection dropdown"> -->
            <option>&nbsp;Echoes of Eternity</option>
            <option>&nbsp;Eternal Draft Pack</option>
            <option>&nbsp;All</option>
          </select>
        </div>
      </div>

      <!-- Evaluator control -->
      <div class="controlLabel" style="margin-left: 50px; margin-right: 10px;">
        E V A L U A T O R
        <div class="">
          <a href="EternalJourney/">Eternal Journey</a>
        </div>
        {# <img style="width: 150px; clip-path: circle(30px at center); float: right; margin-top: -75px; margin-right: -115px; border: solid 1px white;" src="../images/Jedi_EJ.jpg"> #}
        <a href="EternalJourney/"><img style="width: 100px; float: right; margin-top: -75px; margin-right: -105px;" src="../images/Jedi_EJ.png"></a>
      </div>

    </div>

    <!-- Column for Drafter Cards -->
    <div class="drafterCardCol" style="background-color:; width: 68%; float: left;">

      <!-- Row 1 -->
      <div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Draconic_Ire.png">
          <div class="gradeCircle">
            <h4>B+</h4>
          </div>
        </div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Tranquil_Scholar.png">
          <div class="gradeCircle">
            <h4>A+</h4>
          </div>
        </div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Xultan_Brushfang.png">
          <div class="gradeCircle">
            <h4>A+</h4>
          </div>
        </div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Seat_of_Mystery.png">
          <div class="gradeCircle">
            <h4>A+</h4>
          </div>
        </div>

      </div>

      <!-- Row 2 -->
      <div style="clear: both;">

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Draconic_Ire.png">
          <div class="gradeCircle">
            <h4>B+</h4>
          </div>
        </div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Tranquil_Scholar.png">
          <div class="gradeCircle">
            <h4>A+</h4>
          </div>
        </div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Xultan_Brushfang.png">
          <div class="gradeCircle">
            <h4>A+</h4>
          </div>
        </div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Seat_of_Mystery.png">
          <div class="gradeCircle">
            <h4>A+</h4>
          </div>
        </div>

      </div>

      <!-- Row 3 -->
      <div style="clear: both;">

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Draconic_Ire.png">
          <div class="gradeCircle">
            <h4>B+</h4>
          </div>
        </div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Tranquil_Scholar.png">
          <div class="gradeCircle">
            <h4>A+</h4>
          </div>
        </div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Xultan_Brushfang.png">
          <div class="gradeCircle">
            <h4>A+</h4>
          </div>
        </div>

        <div class="cardBlock" style="float: left;">
          <img class="cardDrafterImg" src="https://cards.eternalwarcry.com/cards/full/Seat_of_Mystery.png">
          <div class="gradeCircle">
            <h4>A+</h4>
          </div>
        </div>

      </div>

    </div>

    <!-- Column for Drafter Decklist -->
    <div class="drafterDeckCol" style="width: 30%; float: left; margin-top: 12px; margin-left: 10px; background-color:">

      <div>
        <button class="button button4">POOL</button></a>

        <a class="tabs" href="">
        <button class="button button5">DECK</a></button>

        <!-- <hr class="cbody">&nbsp; -->

      </div>

      <div style="background-color: #2E2C3D; padding: 5px; font-family: 'Open Sans Condensed', sans-serif; width: 97%; min-height: 300px; margin-top: -6px; border-left: 1px solid #458A9E; border-top: 1px solid #458A9E; border-right: 1px solid #458A9E; border-top-right-radius: 7px;">

          <div class="decklistRow first">
            <div class="decklistRow cost">
              2
            </div>
            <div class="decklistRow name fire">
              Draconic Ire
            </div>
            <div class="decklistRow qty common">
              x1
            </div>
          </div>

          <div class="decklistRow">
            <div class="decklistRow cost">
              2
            </div>
            <div class="decklistRow name time">
              Xultan Brushfang
            </div>
            <div class="decklistRow qty common">
              x1
            </div>
          </div>

          <div class="decklistRow">
            <div class="decklistRow cost">
              2
            </div>
            <div class="decklistRow name justice">
              Wind Conjuring
            </div>
            <div class="decklistRow qty uncommon">
              x1
            </div>
          </div>

          <div class="decklistRow">
            <div class="decklistRow cost">
              2
            </div>
            <div class="decklistRow name primal">
              Changeestick
            </div>
            <div class="decklistRow qty rare">
              x1
            </div>
          </div>

          <div class="decklistRow">
            <div class="decklistRow cost">
              2
            </div>
            <div class="decklistRow name shadow">
              Vara's Favor
            </div>
            <div class="decklistRow qty legendary">
              x1
            </div>
          </div>

      </div>

    </div>
