---
title: Articles | Strange Navigator
layout: layouts/html.njk
bg_img: /images/BackgroundArticles.jpg
section: Articles
override:tags: []
legacy: legacy.css
---
<br>
Position: {{ group3.position -}}
<br>
Player: {{ group3.archetype -}}
<br>
epcUrl: {{ group3.epcUrl -}}

<br><br>
Position: {{ top8.group2.position -}}
<br>
Player: {{ top8.group2.archetype -}}
<br>
epcUrl: {{ top8.group2.epcUrl -}}

<br><br>
Position: {{ top8.group2.position -}}
<br>
Player: {{ top8.group2.archetype -}}
<br>
epcUrl: {{ top8.group2.epcUrl -}}
