---
title: Articles
layout: layouts/html.njk
bg_img: /images/BackgroundArticles.jpg
section: Articles
override:tags: []
---
<div class="textcol" style="border: 0px solid red;">

  <div class="title">Template for Top 8 Gallery</div>

    <br>
    localbangarang: {{- localbangarang -}}

    <br>
    Position: {{ group.position -}}
    <br>
    Player: {{ group.archetype -}}
    <br>
    epcUrl: {{ group.epcUrl -}}

    <br><br>
    Position: {{ top8.group2.position -}}
    <br>
    Player: {{ top8.group2.archetype -}}
    <br>
    epcUrl: {{ top8.group2.epcUrl -}}
