---
title: Top 8
layout: layouts/html.njk
override:tags: []
---
    {# <br>
    localbangarang: {{- localbangarang -}}

    <br>
    Position: {{ group.position -}}
    <br>
    Player: {{ group.archetype -}}
    <br>
    epcUrl: {{ group.epcUrl -}}

    <br><br>
    Position: {{ top8.group2.position -}}
    <br>
    Player: {{ top8.group2.archetype -}}
    <br>
    epcUrl: {{ top8.group2.epcUrl -}} #}
