    <!-- Placeholder Decklist -->
    <div class="decklistRow first">
      <div class="decklistRow cost">
        2
      </div>
      <div class="decklistRow name fire">
        Draconic Ire
      </div>
      <div class="decklistRow qty common">
        x1
      </div>
    </div>

    <div class="decklistRow">
      <div class="decklistRow cost">
        2
      </div>
      <div class="decklistRow name time">
        Xultan Brushfang
      </div>
      <div class="decklistRow qty common">
        x1
      </div>
    </div>

    <div class="decklistRow">
      <div class="decklistRow cost">
        2
      </div>
      <div class="decklistRow name justice">
        Wind Conjuring
      </div>
      <div class="decklistRow qty uncommon">
        x1
      </div>
    </div>

    <div class="decklistRow">
      <div class="decklistRow cost">
        2
      </div>
      <div class="decklistRow name primal">
        Changeestick
      </div>
      <div class="decklistRow qty rare">
        x1
      </div>
    </div>

    <div class="decklistRow">
      <div class="decklistRow cost">
        2
      </div>
      <div class="decklistRow name shadow">
        Vara's Favor
      </div>
      <div class="decklistRow qty legendary">
        x1
      </div>
    </div>

    <div class="decklistRow">
      <div class="decklistRow cost">
        2
      </div>
      <div class="decklistRow name multi">
        Keelo, Bold Innovator
      </div>
      <div class="decklistRow qty legendary">
        x1
      </div>
    </div>

    <div class="decklistRow">
      <div class="decklistRow cost">
        4
      </div>
      <div class="decklistRow name neutral">
        Traver's Farm
      </div>
      <div class="decklistRow qty promo">
        x1
      </div>
    </div>
