  <!-- CSS -->
  <link href="{{ "/styles/site-old.css" | url }}" rel="stylesheet" type="text/css">
  <link href="{{ "/styles/site.css" | url }}" rel="stylesheet" type="text/css">
  <link href="{{ "/epc/epc.css" | url }}" rel="stylesheet" type="text/css">

    {#- if `page_style` data is passed, include that CSS partial here -#}
  {%- if page_style %}
    <!-- page-specific styles -->
    <style>
    {% include "css/page/" + page_style %}
    </style>
  {%- endif %}
