---
layout: layouts/html.njk
---
<a href=" {{- articleImage -}} " target="_blank">
  <img class="articleMargin" alt="Graphic" src=" {{- articleImage -}} "/>
</a>

<main class="textcol">

<!-- This is just spacing - add to other elements -->
<p style="" /><br></p>

<header>
  <h1 class="title"> {{- articleTitle -}} </h1>

  <p class="subtitle">
    Taking a look at the Top Eight decks from the <a href="">Shadow of the Spire</a>
  </p>
  <p class="tagline">
    <strong>Power</strong> portraits and standout features for each the finalists
  </p>
</header>


      {{ content | safe }}

</main>
