---
layout: layouts/html.njk
bg_img: ../../images/CrypticEtchings.jpeg
section: Articles
---

    {% include "partials/articles-header.njk" %}

    <main class="page-content {{ page_class }}">

      <div class="bodyGrid">

        {{ content | safe }}

      </div>

    </main>
