---
layout: layouts/html.njk
bg_img: https://www.shiftstoned.com/articles/CrypticEtchings.jpeg
section: Articles
---

{# <img class="background" src="https://www.shiftstoned.com/articles/CrypticEtchings.jpeg" /> #}

    <main class="page-content {{ page_class }}">

      <div class="bodyGrid">

        {{ content | safe }}

      </div>

    </main>
