---
layout: layouts/html.njk
---
{% include "partials/header.njk" %}

<main class="page-content {{ page_class }}">
  {{ content | safe }}
</main>

{% include "partials/footer.njk" %}

{% include "partials/jsSrc.njk" %}
