---
layout: layouts/html.njk
---
{# {% include "partials/archive/header.njk" %} #}

    <main class="page-content {{ page_class }}">
      {{ content | safe }}
    </main>

{# {% include "partials/archive/footer.njk" %} #}
