---
layout: layouts/base.njk
---

<img class="background" src="/SSG-Sandbox/images/Mercy-of-Kodosh-Wallpaper2560x1600.jpg" />

{% include "partials/drafter-header.njk" %}

<main class="page-content {{ page_class }}">

<div class="bodyGrid">

  Shiftstoned Drafter layout will go here

  {{ content | safe }}

</div>

</main>

{% include "partials/footer.njk" %}
