---
layout: layouts/base.njk
bg_img: /SSG-Sandbox/images/Drafter_BG.jpg
---

    {% include "partials/drafter-header.njk" %}

    <main class="page-content {{ page_class }}">

      <div class="newBodyGrid">

        {{ content | safe }}

      </div>

    </main>

    {# {% include "partials/footer.njk" %} #}
