---
layout: layouts/base.njk
---

<img class="background" src="https://www.shiftstoned.com/articles/CrypticEtchings.jpeg" />

{% include "partials/shiftstoned-header.njk" %}

<main class="page-content {{ page_class }}">

<div class="bodyGrid">

  Shiftstoned Drafter layout will go here

  {{ content | safe }}

</div>

</main>

{% include "partials/footer.njk" %}
