---
layout: layouts/html.njk
page_style: formatUpdates.css
---
<main class="formatUpdates textcol">

  <header>
    <h1 class="title"> {{- articleTitle -}} </h1>

    <p class="subtitle">
      {{- articleSubtitle -}}
    </p>

    <p class="tagline">
      {{- articleTagline -}}
    </p>
  </header>

  <a href=" {{- articleImage -}} " target="_blank" class="sideImage">
    <img class="articleMargin" alt="Graphic" src=" {{- articleImage -}} "/>
  </a>

  <section class="description">
    <strong> {{- articleDate -}} </strong> - 
    {{ content | safe }}
  </section>

  <nav id="toc">
    <h3>Contents</h3>
  {%- set factionList = ["Fire","Time","Justice","Primal","Shadow","Praxis","Combrei","Hooru","Feln","Stonescar","Rakano","Elysian","Argenport","Skycrag","Xenan","Mixed","Neutral"] %}
  {%- set stateList = ["Kept","Removed","Added"] %}
    <ol>
    {%- for faction in factionList %}
      <li>
        <a href="#{{ faction }}">{{ faction }}</a>
        <ol>
        {%- for state in stateList %}
          <li>
            <a href="#{{ faction }}-{{ state }}">{{ state }}</a>
          </li>
        {%- endfor %}
        </ol>
      </li>
    {%- endfor %}
    </ol>
  </nav>

  <section id="updateList">
  
    <div id="filters">
    {%- set factionFilters = ["Fire","Time","Justice","Primal","Shadow","Mixed","Neutral"] %}
      <ol id="factionFilters">
      {%- for faction in factionFilters %}
        <li class="{{ faction | lower }}">
          <input type="checkbox" id="filter-{{ faction }}" name="Factions" checked>
          <label for="filter-{{ faction }}">{{ faction }}</label>
        </li>
      {%- endfor %}
      </ol>
    </div>

    {%- for faction, factionInfo in updates %}
    <section class="faction" {% for f in factionInfo.factions -%}
      data-faction-{{ f | lower }}="true" {% endfor -%}
      >
      <h2 id="{{ faction }}">{{ faction }}</h2>

      {%- for state, cards in factionInfo.cards %}
      <section class="state" data-state="{{ state | lower }}">
        <h3 id="{{ faction }}-{{ state }}">{{ state }}</h3>
        <ul class="cardList">
        {%- for card, cardInfo in cards %}
          <li class="card" data-weight-before="{{ cardInfo.draft.before }}" data-weight-after="{{ cardInfo.draft.after }}">
            <p>{{ card }}</p>
            <img src="https://www.shiftstoned.com/images/cards/{{ card | replace(' ', '_') }}.png"
                alt="{{ card }}"
                loading="lazy" width="220" height="350">
          </li>
        {%- endfor %}
        </ul>
      </section>
      {%- endfor %}
    </section>
    {%- endfor %}
  </section>
</main>
{#- 
  <img alt="Card Image" src=" {{- info.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- info.epcUrl -}} " target="_blank">
      <u>{{ info.player -}}'s Decklist</u>
    </a>
    ({{ info.archetype -}})
  </h2>

  <p>
    {{ info.body -}}
  </p>

  <p style="" >
    <a href=" {{- info.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>
   -#}