---
layout: layouts/html.njk
page_style: formatUpdates_Throwback.css
---
{%- set factionList = ["Fire","Time","Justice","Primal","Shadow","Praxis","Combrei","Hooru","Feln","Stonescar","Rakano","Elysian","Argenport","Skycrag","Xenan","Mixed","Neutral"] -%}
{%- set factionFilters = ["Fire","Time","Justice","Primal","Shadow","Mixed","Neutral"] -%}
{%- set factionCombos = {
  'Praxis': ["Fire","Time","Mixed"],
  'Combrei': ["Time","Justice","Mixed"],
  'Hooru': ["Justice","Primal","Mixed"],
  'Feln': ["Primal","Shadow","Mixed"],
  'Stonescar': ["Fire","Shadow","Mixed"],
  'Rakano': ["Fire","Justice","Mixed"],
  'Elysian': ["Time","Primal","Mixed"],
  'Argenport': ["Justice","Primal","Mixed"],
  'Skycrag': ["Fire","Primal","Mixed"],
  'Xenan': ["Time","Shadow","Mixed"],
  'Mixed': ["Fire","Time","Justice","Primal","Shadow","Mixed"]
} -%}

<main class="formatUpdates textcol">

  <header>
    <h1 class="title"> {{- articleTitle -}} </h1>
    
    {% if articleSubtitle -%}
    <p class="subtitle">
      {{- articleSubtitle -}}
    </p>
    {%- endif %}

    {% if articleTagline -%}
    <p class="tagline">
      {{- articleTagline -}}
    </p>
    {%- endif %}
  </header>

  <img class="sideImage articleMargin" alt="" src=" {{- articleImage -}} "/>

  <section class="description">
    {{ content | safe }}
  </section>

  <section class="cards">
    <h2>Changed Cards</h2>
    {%- for cardInfo in cardChanges -%}

    <h3>{{cardInfo.Name}}</h3>
    <figure>
      <img src="images/cards-then/{{ cardInfo.Name | replace(" ", "_") }}.png" alt="old {{cardInfo.Name}}" loading="lazy" width="220" height="350">
    </figure>
    <ul class="changes">
    {% for att, changes in cardInfo.Changes %}
      <li>{{att}}:
        <br> then: {{changes.then}}
        <br> now: {{changes.now}}
      </li>
    {% endfor %}
    </ul>
    <figure>
      <img src="/images/cards/{{ cardInfo.Name | replace(" ", "_") }}.png" alt="current {{cardInfo.Name}}" loading="lazy" width="220" height="350">
    </figure>

    {%- endfor %}
{# 
    {%- for cardThenInfo in cardsThen -%}
    
      {%- set cardNowInfo = cardsNow[loop.index0] %}
      {%- set cardChanged = false %}

      {%- for att, value in cardThenInfo %}

        {%- if value != cardNowInfo[att] %}
          {%- set cardChanged = true %}
        {%- endif %}
      {%- endfor %}

      {%- if cardChanged == true %}
      <li>
        <h3>{{cardNowInfo.Name}}</h3>
        <figure>
          <img src="images/cards-then/{{ cardNowInfo.Name | replace(" ", "_") }}.png" alt="old {{cardNowInfo.Name}}" loading="lazy" width="220" height="350">
        </figure>
        <figure>
          <img src="/images/cards/{{ cardNowInfo.Name | replace(" ", "_") }}.png" alt="current {{cardNowInfo.Name}}" loading="lazy" width="220" height="350">
        </figure>
      </li>
      {% endif %}

    {%- endfor %}
#}

    </ul>
  </section>
</main>