<!DOCTYPE html>
<html lang="en-US">
<head>

  {% include "partials/meta.njk" %}
  {% include "partials/compatibility.njk" %}
  {% include "partials/icons.njk" %}
  {% include "partials/themes.njk" %}
  <!-- FONTS -->
  {% include "partials/fonts.njk" %}

  <!-- CSS -->
  <link href="{{ "/styles/site.css" | url }}" rel="stylesheet" type="text/css">
  <link href="/SSG-Sandbox/scripts/epc.css" rel="stylesheet" type="text/css">


  {#- if `page_style` data is passed, include that CSS partial here -#}
  {%- if page_style %}
  <!-- page-specific styles -->
  <style>
    {% include "css/page/" + page_style %}
  </style>
  {% endif %}

  <!-- JAVASCRIPT -->

  {# <!-- load critical js --> #}
  <script src="/scripts/site.js" type="text/javascript"></script>
  {#- <!-- defer loading non-critical js -->
  <script defer src="/scripts/site-defer.js" type="text/javascript"></script>
  <!-- inline page-specific js is located after <body> --> -#}

</head>

  <!-- PAGE BODY -->
  <body>

    <img class="background" src="{{ bg_img }}" />

    {% include "partials/headbanner.njk" %}

    <div class="newBodyGrid">

      {{ content | safe }}

    </div>

    {% include "partials/jsSrc.njk" %}

  </body>

    <!-- JAVASCRIPT (inline, page-specific) -->
    {#- if `page_script` data is passed, include that js partial here #}
    {%- if page_script %}
    <!-- page-specific js -->
    <script type="text/javascript">
      {% include "js/page/" + page_script %}
    </script>
    {%- endif %}

</html>
