<!DOCTYPE html>
<html lang="en-US">
<head>

  {% include "partials/meta.njk" %}
  {% include "partials/compatibility.njk" %}
  {% include "partials/icons.njk" %}
  {% include "partials/themes.njk" %}
  <!-- FONTS -->
  {% include "partials/fonts.njk" %}
  <!-- CSS -->
  <link href="{{ "/styles/site.css" | url }}" rel="stylesheet" type="text/css">
  <link href="/SSG-Sandbox/epc/epc.css" rel="stylesheet" type="text/css">

</head>

  <!-- PAGE BODY -->
  <body>

    <img class="background" src="{{ bg_img }}" {%- if offset %}

        {{ offset }}

        {%- endif %} />

    {% include "partials/headbanner.njk" %}

    <!-- Main page content -->
    <div class="newBodyGrid">

      {{ content | safe }}

    </div>

    <!-- JAVASCRIPT -->
    {% include "partials/jsSrc.njk" %}

  </body>

</html>
