---
layout: layouts/article.njk
---
{{- top8introduction-}}

<h3 class="placement first" />
  1st&nbsp; P L A C E:
</h3>

<!-- 1st -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- first.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- first.epcUrl -}} " target="_blank">
      <u>{{ first.player -}}'s Decklist</u>
    </a>
    ({{ first.archetype -}})
  </h2>

  <p>
    {{ first.body -}}
  </p>

  <p style="" />
    <a href=" {{- first.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>

</section>


{{ content | safe }}
