---
layout: layouts/article.njk
---
{{- top8introduction-}}

<h3 class="placement first" />
  1st&nbsp; P L A C E:
</h3>

<!-- 1st -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- first.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- first.epcUrl -}} " target="_blank">
      <u>{{ first.player -}}'s Decklist</u>
    </a>
    ({{ first.archetype -}})
  </h2>

  <p>
    {{ first.body -}}
  </p>

  <p style="" />
    <a href=" {{- first.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>

</section>

<!-- 2nd -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- second.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- second.epcUrl -}} " target="_blank">
      <u>{{ second.player -}}'s Decklist</u>
    </a>
    ({{ second.archetype -}})
  </h2>

  <p>
    {{ second.body -}}
  </p>

  <p style="" />
    <a href=" {{- second.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>

</section>

<h3 class="placement third" />
  3rd&nbsp; P L A C E:
</h3>

<!-- 3rd -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- third.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- third.epcUrl -}} " target="_blank">
      <u>{{ third.player -}}'s Decklist</u>
    </a>
    ({{ third.archetype -}})
  </h2>

  <p>
    {{ third.body -}}
  </p>

  <p style="" />
    <a href=" {{- third.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>

</section>

<!-- 4th -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- fourth.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- fourth.epcUrl -}} " target="_blank">
      <u>{{ fourth.player -}}'s Decklist</u>
    </a>
    ({{ fourth.archetype -}})
  </h2>

  <p>
    {{ fourth.body -}}
  </p>

  <p style="" />
    <a href=" {{- fourth.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>

</section>

<h3 class="placement fifth" />
  5th&nbsp; P L A C E:
</h3>

<!-- 5th -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- fifth.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- fifth.epcUrl -}} " target="_blank">
      <u>{{ fifth.player -}}'s Decklist</u>
    </a>
    ({{ fifth.archetype -}})
  </h2>

  <p>
    {{ fifth.body -}}
  </p>

  <p style="" />
    <a href=" {{- fifth.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>

</section>

<!-- 6th -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- sixth.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- sixth.epcUrl -}} " target="_blank">
      <u>{{ sixth.player -}}'s Decklist</u>
    </a>
    ({{ sixth.archetype -}})
  </h2>

  <p>
    {{ sixth.body -}}
  </p>

  <p style="" />
    <a href=" {{- sixth.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>

</section>

<!-- 7th -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- seventh.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- seventh.epcUrl -}} " target="_blank">
      <u>{{ seventh.player -}}'s Decklist</u>
    </a>
    ({{ seventh.archetype -}})
  </h2>

  <p>
    {{ seventh.body -}}
  </p>

  <p style="" />
    <a href=" {{- seventh.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>

</section>

<!-- 8th -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- eighth.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- eighth.epcUrl -}} " target="_blank">
      <u>{{ eighth.player -}}'s Decklist</u>
    </a>
    ({{ eighth.archetype -}})
  </h2>

  <p>
    {{ eighth.body -}}
  </p>

  <p style="" />
    <a href=" {{- eighth.epcUrl -}} " target="_blank">view deck &#9658; </a>
  </p>

</section>

{{ content | safe }}
