---
layout: layouts/article.njk
---
{{- top8introduction-}}

<h3 class="placement first" />
  1st&nbsp; P L A C E:
</h3>

<!-- 1st -->
<section class="topDeckProfile">

  <img alt="Card Image" src=" {{- first.card -}} " class="galleryDeck" />

  <h2 class="topDeckTitle">
    &#9658;
    <a href=" {{- first.epcUrl -}} " target="_blank">
      <u>{{ first.player -}}'s Decklist</u>
    </a>
    ({{ first.archetype -}})
  </h2>

  <p>
    {# 23 {% icon 'Fire' %}, 21{% icon 'Primal' %}, No Emblems, 4 Seeks, Eilyn's Favor in the Market #}
  </p>

  <p>
    {# <span style="color: #81C3F4"><strong>Standout feature:</strong></span> Something something new paragraph. #}
  </p>

  {# <p style="https://www.shiftstoned.com/epc/?d=EIBEBhGEB4MCBlGEIIE_hBBE_hBIEB6GBEhBEFaEC-DEItDEvfNLBBJB7FEA1BEHiFCAABH_CBAYBBuGBFSBBtG&t=%5BCollecter%5D%20Collecter's%20decklist%20(Top%2064)" />
    <a href="" target="_blank">view deck &#9658; </a>
  </p> #}

</section>


{{ content | safe }}
