---
layout: layouts/html.njk
---
{{ content | safe }}
{# 
{%- for place, info in top8 %}
{%- set ordinal = loop.index | nth %}
<!-- {{ ordinal }} -->

<h2>
  <span class="pre-headline {{ place }}">
  {{ ordinal }} place:
  </span>
  <a href="{{ info.epcUrl }}" target="_blank" class="epc-link">
    <u>{{ info.player }}'s Decklist</u>
  </a> ({{ info.archetype }})
</h2>

{% card_image "{{ info.card }}", "ci-small"%}

<p>{{ info.body | frontmatter_md | safe }}</p>

<p class="highlight" >
  <a href="{{ info.epcUrl }}" target="_blank" class="arrow-link">
    view deck
  </a>
</p>

{%- else %}
<p>No top 8 data found!</p>
{%- endfor %} 
#}
{%- if articleEnd %}

{{ articleEnd | frontmatter_md | safe }}

{% endif %}