{#- Consolidating the various scripts into a single include -#}
    {# <script type="text/javascript" src="/epc/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/epc/semantic.min.js"></script>
    <script type="text/javascript" src="/epc/epc.min.js"></script>
    <script type="text/javascript">$(".ui.dropdown").dropdown();</script> #}
    <!-- defer loading non-critical js -->
    <script defer src="/scripts/site-defer.js" type="text/javascript"></script>
