---
title: Articles
bg_img: /images/BackgroundArticles.jpg
section: Articles
override:tags: []
page_style: articles-index-test.css
pagination:
  data: collections.articles
  alias: articles
  size: 12
  reverse: true
permalink: "/articles-test/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
<section class="articles-list">
{%- for article in articles %}
  <article class="article-brief">
    <header>
      <h2><a href="{{ article.url }}">{{ article.data['meta-title'] }}</a></h2>
    </header>
    <div class="article-image">
      <a href="{{ article.url }}">
        <img src="{{ article.data['meta-image'] }}"
             width="250" height="164.4"
             loading="lazy"
             alt="{{ meta-image-alt or 'Graphic' }}" />
      </a>
    </div>
    <section class="article-description">
      <p>
        <time datetime="{{ article.date}}">{{ article.date}}</time> - {{ article.data.description }}
      </p>
    </section>
    <footer>
      <p><a href="{{ article.url }}">Read more &#9658;</a></p>
    </footer>
  </article>
{%- endfor %}
</section>

<nav class="page-selector">
  <span class="page-nav previous">
  {% if pagination.previousPageHref %}
    <a href="{{ pagination.previousPageHref }}">
      Previous
    </a>
  {% else %}
    Previous
  {% endif %}
  </span>
  <span class="page-numbers ">
    Page: {{ pagination.pageNumber + 1 }} of {{ pagination.links | length  }}
  </span>
  <span class="page-nav next">
  {% if pagination.nextPageHref %}
    <a href="{{ pagination.nextPageHref }}">Next</a>
  {% else %}
    Next
  {% endif %}
  </span>
</nav>