{# Dropdown menu for navigation #}
{# &RelativeURL #}

      <div id="newNavigation-menu" data-state="closed">

        <button type="button"
                id="menu-toggle"
                onclick="toggleMenu()">
          <img src="/images/navigation-menu.png" />
          <span class="visually-hidden hidden-focusable">toggle header menu</span>
        </button>

        <nav class="site-nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="/">HOME</a></li>
            <li class="nav-item"><a href="/epc/">POWER CALCULATOR </a></li>
            <li class="nav-item child"><a href="/epc/about/">Guide</a></li>
            <li class="nav-item"><a href="/drafter/">DRAFTER</a></li>
            <li class="nav-item"><a href="/articles/">ARTICLES</a></li>
            {# <li class="nav-item"><a href="/calendar/">COMMUNITY CALENDAR</a></li> #}
            <li class="nav-item"><a href="/contact">CONTACT</a></li>
          </ul>
        </nav>

      </div>
