---
layout: layouts/html.njk
bg_img: https://www.shiftstoned.com/contact/contact_bg.jpeg
section: Contact
title: Contact
legacy: legacy.css
page_style: contact.css
---
{# <!-- www.123formbuilder.com script begins here --><script type="text/javascript" defer src="//www.123formbuilder.com/embed/3851141.js" data-role="form" data-default-width="650px"></script><!-- www.123formbuilder.com script ends here --> #}



        <div id="transparent_body">

<pg></pg>

          <center>

            <div class="container" bg="#000000">

              <center>
                <img src="../guide/images/download.png" margin-bottom="0" margin-left="50" height="0" width="800">
              </center>

              <form action="https://mailthis.to/shiftstoned@gmail.com" method="POST">

                <!-- <label for="fname">Name</label> -->
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <p>
                <!-- <label for="reply">email</label> -->
                <input type="text" id="reply" name="_replyto" placeholder="Your email..">

                <p>
                <!-- <label for="subject">Subject</label> -->
                <input type="text" id="reply" name="subject" placeholder="Subject">

                <p>
                <!-- <label for="message">Message</label> -->
                <textarea id="message" name="message" placeholder="Message" style="height:200px"></textarea>

                <input type="hidden" name="_after" value="/contact/thanks0/" />

                <br>
                <input type="submit" value="Submit">

              </form>

            </div>

        </center>
