---
layout: layouts/html.njk
bg_img: https://www.shiftstoned.com/contact/contact_bg.jpeg
section: Contact
---
{# <div class="shiftstoned-heading" style="border: 0px solid blue;">

  <div class="heading-top" style="border: 0px solid red;">

    <a href="/SSG-Sandbox/"><img class="shiftstoned-img" src="https://www.shiftstoned.com/global/images/shiftstoned.png" /></a>

    <a href="/SSG-Sandbox/{{ section | lower }}"><img alt="{{ section }}" class="power-calculator-img" src="/SSG-Sandbox/images/Header{{ section }}.png" title="{{ section }}" /></a>

    {% include "partials/navMenu.njk" %}

  </div>

  <div class="heading-page-top">
    &nbsp;
  </div>

</div> #}


<main class="page-content mainpage">

  <section>

    <div class="bodyGrid">

      Remove headbanner from contact.njk

    </div>

  </section>


</main>
