---
layout: layouts/html.njk
bg_img: https://www.shiftstoned.com/contact/contact_bg.jpeg
section: Contact
title: Contact
legacy: legacy.css
---
<div id="transparent_body">

  <center>

    <div class="container" bg="#000000">

      <h1c>Thanks Huckleberry!</h1c>
      <pg>Let's keep in touch.</pg>
      <a href="http://www.papacapricorn.com" target="_blank"><img width="54" src="/images/capricorn.png"></a>

    </div>

</center>

</div>
