---
layout: layouts/html.njk
bg_img: https://www.shiftstoned.com/contact/contact_bg.jpeg
section: Contact
title: Contact
legacy: legacy.css
page_style: contact.css
---
<div style="text-align: center;">

    <h1 class="title">Thanks Huckleberry!</h1>
    <p>
      Let's keep in touch. Return to <a href="/">ShiftStoned home</a> &#9658;
    </p>
    <a href="http://www.papacapricorn.com" target="_blank"><img width="54" src="../images/capricorn.png"></a>

</div>
