/* site styles */
body {
    margin: 0;
    --content-width: 1140px;

    --bg-image: url(images/BackgroundHome.jpg); /* default background */
    background-image: var(--bg-image);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

/* section styles */
body.epc {
    --sidebar-width: 306px;
    --bg-image: url(/images/BackgroundEpc.jpg); /* section background */
  }

/* drafter styles */
#calculator-body {
    width: var(--content-width);
    box-sizing: border-box;
    display: grid;
        grid-template-columns: var(--sidebar-width) auto;
        grid-template-rows: 100px auto; /* temporary */
    border: 1px solid;
        border-bottom: none;
}

.epc-counts {
    border-bottom: 1px solid;
    margin: 0; padding: 0; /* overwrite <ul> defaults */
}
.epc-counts > li {
    display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    /* font-size: 3.5rem; */
    color: #FFFFFF;
}
#counts-panel {
    display: grid;
        grid-template-columns: 1fr 1fr;
    border-right: solid 1px;
    font-family: 'Open Sans ExtraBold', sans-serif;
}
#counts-panel > li:not(:first-child) {
    border-left: 1px solid;
}
#influence-panel {
    display: grid;
        grid-template-columns: repeat(5, 1fr);
    font-family: 'Open Sans', sans-serif;
}
#influence-panel img {
    /* position: absolute; */
    transform: translate(0, -50%);
}
#counts-panel .label,
#influence-panel .label {
    font-size: .9rem;
}
#fire-sources-panel {
    background-color: var(--FireRed);
}
#time-sources-panel {
    background-color: var(--TimeYellow);
}
#justice-sources-panel {
    background-color: var(--JusticeGreen);
}
#primal-sources-panel {
    background-color: var(--PrimalBlue);
}
#shadow-sources-panel {
    background-color: var(--ShadowPurple);
}

.epc-sidebar {
    background-color: #533D4F;
    border-right: 1px solid;
}

#power-type-panel {    
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2em;
    max-width: 80%; /* temporary */
    margin: 0 auto;
    padding: 1.5em;
    background-color: #27252D;
    border: solid 1px #FFFFFF;
        border-radius: 10px;
}

.power-type-item {
    display: flex;
        align-items: center;
        gap: 0.5em;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* original semantic-ui styles */
.button {
    background-color: #2E2C3D;
    color: #FFFFFF;
    border: 1px solid;
    font-family: 'Open Sans ExtraBold', sans-serif;
}