---
layout: layouts/base.njk
bg_img: https://www.shiftstoned.com/epc/Trove.jpg
section: Epc
---

Expect to lose headbanner<br>
Background image is: https://www.shiftstoned.com/epc/Trove.jpg

{% include "partials/epccore.njk" %}
{% include "partials/cardlist.njk" %}
{% include "partials/epcscripts.njk" %}
