---
layout: layouts/html.njk
bg_img: ../images/BackgroundEpc.jpg
section: Epc
about: about/
---

{% include "partials/epc/epccore.njk" %}
{% include "partials/epc/cardlist.njk" %}
{% include "partials/epc/epcscripts.njk" %}
