---
layout: layouts/base.njk
page_style: epc.css
---

<!-- Background Image -->
<img class="background" src="https://www.shiftstoned.com/epc/Trove.jpg" />

{% include "partials/epc-header.njk" %}

Container for Eternal Power Calculator core<br>
Main, section and other divs remove<br>
Scripts added:<br>
Card list added:<br>
Pre-loads and dialogs added:<br>
{% include "partials/epccore.njk" %}
{% include "partials/cardlist.njk" %}
{% include "partials/epcscripts.njk" %}
