---
layout: layouts/html.njk
bg_img: https://www.shiftstoned.com/calendar/SecretPages.jpeg
section: Calendar
---

<img class="background" src="{{ bg_img }}" />

<div class="shiftstoned-heading" style="border: 0px solid blue;">

  <div class="heading-top" style="border: 0px solid red;">

    <a href="/SSG-Sandbox/calendr/"><img alt="{{ section }}" class="power-calculator-img" src="/SSG-Sandbox/images/Header{{ section }}.png" title="{{ section }}" /></a>

    {% include "partials/navMenu.njk" %}

  </div>

  <div class="heading-page-top">
    &nbsp;
  </div>

</div>


<main class="page-content mainpage">

  <section>

    <div class="bodyGrid">

      <div id="transparent_body">

        <pg></pg>

        <div data-tockify-component="calendar" data-tockify-calendar="eternal"></div>
        <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>

      </div>


    </div>

  </section>


</main>
