---
layout: layouts/html.njk
bg_img: /images/BackgroundCalendar.jpeg
section: Calendar
title: Community Calendar
---
      <div id="transparent_body" >

        <pg></pg>

        <center>

        <h1>Greetings Huckleberry!</h1>

        The <strong>Community Calendar</strong> at <strong>ShiftStoned</strong> has been retired. <p>

        To find up-to-date event listings for <strong>Eternal Card Game</strong>, visit <a href="https://themisplay.com/events/" target="_blank">this calendar hosted by the fine folks at <strong>The Misplay</strong></a>.

      </center>


        {# <div data-tockify-component="calendar" data-tockify-calendar="eternal"></div>
        <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script> #}

      </div>
