<!--
    Pre-load all the influence icons symbols.
    The graph drawing pulls the influence symbols from these elements.
-->
{# <div id="influence-icons">
    <img id="icon-fire" src="/epc/icon-fire.png">
    <img id="icon-time" src="../epc/icon-time.png">
    <img id="icon-justice" src="../epc/icon-justice.png">
    <img id="icon-primal" src="../epc/icon-primal.png">
    <img id="icon-shadow" src="../epc/icon-shadow.png">
</div> #}
<main class="newBodyGrid" id="calculator-body">
    <ul id="counts-panel" class="epc-sidebar epc-counts">
        <li id="card-count-panel">
            <div id="card-count-number">
                0{# placeholder #}
            </div>
            <div id="card-count-label" class="label">
                CARDS
            </div>
        </li>

        <li id="power-sources-panel">
            <div id="power-sources-number">
                0{# placeholder #}
            </div>
            <div id="power-sources-label" class="label">
                POWER SOURCES
            </div>
        </li>
    </ul>

    <ul id="influence-panel" class="epc-counts">
    {%- for type in ["fire", "time", "justice", "primal", "shadow"] %}
        <li id="{{ type }}-sources-panel">
            <img src="/epc/icon-{{ type }}.png" alt="{{ type | capitalize }} sources">
            <div id="{{ type }}-sources-number" class="influence-number">
                0{# placeholder #}
            </div>
        </li>
    {%- endfor %}
    </ul>

    <section id="deck-edit-panel" class="epc-sidebar">
        <div id="deck-edit-header" class="deck-edit-header ui buttons actions">
            <button type="button"
                id="import-button" class="ui button">
                IMPORT
            </button>
            <div
                class="ui custom popup transition hidden">
                <h1>Greetings Huckleberry!</h1>
                Import or add a deck to get started
            </div>

            <button type="button"
                id="export-button" class="ui button"
                data-position="top center"
                data-content="Deck copied to clipboard">
                EXPORT
            </button>

            <button type="button"
                id="link-button" class="ui button"
                data-position="top center"
                data-content="Link copied to clipboard">
                <img src="/images/IconLink.svg">
            </button>

            <button type="button"
                id="ewc-button" class="ui button"
                data-position="top center"
                data-content="Save this deck on Eternal Warcry">
                <img src="/images/IconEwc.png">
            </button>
        </div>

        <div style="text-align: center">
                <span class="help">
                    HELP <img src="/images/IconHelpSmall.png" height="12">
                </span>
            <div class="ui popup help hidden">
                IMPORT or EXPORT your deck here. Use  <img src="/images/IconLink.svg" width="19" border="1"style="border-radius: 4px; background-color: #27252D; border: solid .75px #FFFFFF; padding: 4px;"> to SHARE your deck with a unique URL.
            </div>
        </div>

        <section>
            <div id="deck-edit" class="deck-edit">
                <div id="deck-edit-power-title"
                        class="deck-edit-section">
                    POWER BASE
                </div>
                <div id="deck-edit-power-rows">
                </div>

                <div id="deck-edit-nonpower-title"
                        class="deck-edit-section">
                    MAIN DECK
                    <div class="deck-edit-section-description">
                        Additional power sources highlighted
                    </div>
                </div>
                <div id="deck-edit-nonpower-rows">
                </div>
            </div>

            <div id="deck-edit-footer" class="deck-edit-footer">
                <button type="button"
                    id="add-card-button" class="ui button pad-right">
                    ADD CARD
                </button>

                <button type="button"
                    id="clear-button" class="ui button"
                    data-position="top center"
                    data-content="Deck cleared">
                    CLEAR
                </button>
            </div>
        </section>

        <section>
            <div id="market-edit" class="deck-edit">
                <div id="deck-edit-market-title"
                        class="deck-edit-section">
                    MARKET
                </div>
                <div id="deck-edit-market-rows">
                </div>
            </div>

            <div id="market-edit-footer" class="deck-edit-footer">
                <button type="button"
                    id="add-market-card-button" class="ui button pad-right">
                    ADD CARD
                </button>

                <button type="button"
                    id="clear-market-button" class="ui button"
                    data-position="top center"
                    data-content="Market cleared">
                    CLEAR
                </button>
            </div>
        </section>

    </section>

    <section id="charts-panel">
        <!--  Tabs to switch between the table and the graph  -->
        <header>
            <nav id="charts-menu" role="tablist" aria-label="Chart Tabs">
                <button id="graph-menu-item" class="menu-item active" role="tab" aria-selected="true"
                    aria-controls="power-graph-container" tabindex="0">
                    <img id="influence-graph-menu-title"
                            class="menu-title"
                            src="/images/TabInfluenceGraph.png">
                    <img class="output-tab-help-icon help-icon"
                            src="/images/IconHelp.png">
                    <div class="ui popup menu-help hidden">
                        Charts the odds (0-100%) of meeting
                        desired Influence costs based on number
                        of draws.
                    </div>
                </button>
                <button id="table-menu-item" class="menu-item" role="tab" aria-selected="false"
                    aria-controls="power-table-container" tabindex="-1">
                    <img id="power-odds-table-menu-title"
                            class="menu-title"
                            src="/images/TabPowerOddsTable.png">
                    <img class="output-tab-help-icon help-icon"
                            src="/images/IconHelp.png">
                    <div class="ui popup menu-help hidden">
                        Tabulates the odds (0-100%) of meeting
                        desired Influence <em>and</em>
                        Power costs based on number of draws (0-20).
                    </div>
                </button>
            </nav>

            <div id="charts-heading">
                <h1 id="deck-title" contenteditable=true>
                    Untitled{# placeholder #}
                </h1>
            </div>
        </header>
        
        <section id="power-graph-container" role="tabpanel" 
            aria-labelledby="graph-menu-item" tabindex="0">
            <!-- The graph of power and influence is generated here  -->
            <section>
                <div id="power-graph-div">
                </div>

                <div id="graph-y-label">
                    PROBABILITY
                </div>
                <div id="graph-x-label">
                    TURNS (<a href="guide/index.html#draws" target="_blank">ONE DRAW PER TURN*</a>)
                </div>
            </section>

            <section id="power-type-panel">
            {%- for type, text in {   
                    "undepleted":"UNDEPLETED",
                    "conditional":"CONDITIONAL",
                    "depleted":"DEPLETED",
                    "monument":"MONUMENTS",
                    "crest":"CRESTS",
                    "waystone":"WAYSTONES",
                    "standard":"STANDARDS"
                    } %}
                <div class="power-type-item">
                    <img src="/images/Icon{{ type | capitalize }}.svg">
                    <span class="power-type-label">
                            {{ text }}:
                        </span>
                    <span class="power-type-count" tag="{{ type }}">
                            0{# placeholder #}
                        </span>
                </div>
            {%- endfor %}

                {# <div class="power-type-item">
                </div> #}

                {# <footer id="power-type-panel-footer">
                </footer> #}
            </section>
        </section>

        <section id="power-table-container" role="tabpanel" 
            aria-labelledby="table-menu-item" tabindex="0"
            hidden>
            <div id="power-table-loader" class="ui loader">
            </div>

            <!--
                The table of costs for the odds table
                is generated here.
            -->
            <div id="power-table-cost-div">
            </div>

            <!--  The table of draw odds is generated here  -->
            <div id="power-table-odds-div">
            </div>
        </section>
    </section>

    {# <footer id="calculator-body-footer">
    </footer> #}
</main>