---
title: Test
layout: layouts/html.njk
page_style: test.css
---
<h2>Hover-tooltip test</h2>

<p>
{% hover_text %}
Hover over me!
{% hover_content %}
Tooltip text...
{% endhover_content %}
{% endhover_text %}
</p>

<h2>JSON data test</h2>
Position: {{ top8.top8deck.position }} <br>
Player: {{ top8.top8deck.player }} <br>
Eternal Power Calculator: {{ top8.top8deck.position }} <br>
Eternal Warcry: {{ top8.top8deck.position }} <br>
