<!-- Search control -->
<div class="drafterControlLabel" style="margin-left: 25px;">
  S E A R C H<br>
  <a href="http://eternal-draft.mlntn.com/"><input class="drafterSearch" type="text" placeholder="  Keyword" name="Search" ></a>
</div>

<!-- Evaluator control -->
<div class="drafterControlLabel" style="margin-left: 50px; margin-right: 10px;">
  E V A L U A T O R
  <div>
    <a href="EternalJourney/">Eternal Journey</a>
  </div>
  <a href="EternalJourney/"><img class="evaluatorImg" style="margin-top: -75px; margin-right: -105px;" src="../images/EvaluatorJedi_EJ.png"></a>
</div>
