{# Drafter section banner for logo and navigation menu #}

{# &EDIT: Consolidate into flexible header with variable text/img for section id #}
{# Border styles are temporary tools for debugging and layout  #}

<div class="newShiftstoned-heading" style="border: 0px solid blue;">


  <div class="newHeading-top" style="border: 0px solid red;">

    <a href="/SSG-Sandbox/"><img class="shiftstoned-img" src="https://www.shiftstoned.com/global/images/shiftstoned.png" /></a><a href="/SSG-Sandbox/drafter/"><img alt="Drafter" class="power-calculator-img" src="/SSG-Sandbox/images/HeaderDrafter.png" title="Drafter" /></a>

    {% include "partials/navMenu.njk" %}

  </div>

  <div class="newHeading-page-top">
    &nbsp;
  </div>

</div>
