<!--
    Pre-load all the influence icons symbols.
    The graph drawing pulls the influence symbols from these elements.
-->
<div id="influence-icons">
    <img id="icon-fire" src="https://www.shiftstoned.com/epc/icon-fire.png">
    <img id="icon-time" src="https://www.shiftstoned.com/epc/icon-time.png">
    <img id="icon-justice" src="https://www.shiftstoned.com/epc/icon-justice.png">
    <img id="icon-primal" src="https://www.shiftstoned.com/epc/icon-primal.png">
    <img id="icon-shadow" src="https://www.shiftstoned.com/epc/icon-shadow.png">
</div>

<!--  A dialog displayed when the "About" button is clicked  -->
<div id="about-modal" class="ui tiny modal">
    <div class="header">About Shiftstoned Power Calculator</div>

    <div id="about-text" class="modal-body">

        <p>
            You will gain a competitive edge in <b>Eternal</b> by maximizing the chances of playing your cards on curve.

        <p>
            Getting under the hood and optimizing your deck's power base is the best way to ensure that you can play the cards you want, when you want to play them.

        <p>
            The <b>Eternal Power Calculator</b> is a deck-building tool that visualizes your odds of drawing enough <b>Influence</b> and <b>Power</b> based specifically on the cards found in your deck.

        <p>
            Select the <b>Import</b> button and paste a deck from <b>Eternal</b> to get started. Or start from scratch by adding a card.

        <p>
            Want to learn more?
        <ul>
            <li><a href="guide/index.html" target="_blank">How it works</a>
            <li><a href="guide/index.html#chart" target="_blank">Charting Influence</a>
            <li><a href="guide/index.html#draws" target="_blank">Draws vs. Turns</a>
            <li><a href="guide/index.html#table" target="_blank">Power Odds Table</a>
            <li><a href="guide/index.html#not" target="_blank">What is NOT accounted for?</a>
            <li><a href="guide/index.html#next" target="_blank">What's next?</a>

        </ul>

        <p>
            For more on the math behind the <strong>Eternal Power Calculator</strong>, check out the <a href="guide/expanded.html" target="_blank">in-depth guide to calculations</a>.

        <p>
            The original source code for Eternal Power Calculator is
            <a href="https://github.com/matt-kimball/epc" target="_blank">available
                on GitHub</a>.
    </div>

    <div class="actions">
        <button class="ui positive right button">
            OK
        </button>
    </div>
</div>

<!--  Dialog for importing a deck list  -->
<div id="import-modal" class="ui tiny modal">
    <div class="header">
        Paste a deck from Eternal
    </div>

    <div id="import-form" class="ui form modal-body">
        <div class="field">
            <label>Deck list</label>
            <textarea id="import-modal-deck" rows="20"></textarea>
        </div>

        <!--  Syntax errors in the decklist are reported here  -->
        <div class="ui label" id="import-validation-result">
        </div>
    </div>

    <div class="actions">
        <button
            id="import-modal-import-button"
            class="ui positive right button">
            IMPORT
        </button>
    </div>
</div>

<!--  Dialog for adding a new card  -->
<div id="add-card-modal" class="ui mini modal">
    <div class="header">
        Select a card
    </div>

    <div id="card-select" class="modal-body">
        <!--  All card names are added by gatherCards in epc-ui.js  -->
        <select
            id="add-card-dropdown"
            class="ui fluid search selection dropdown">
            <option value="">Card</option>
        </select>
    </div>

    <div class="actions">
        <button
            id="add-card-modal-add-button"
            class="ui positive right button">
            ADD
        </button>
    </div>
</div>

<!--  Dialog for adding a market card  -->
<div id="add-market-card-modal" class="ui mini modal">
    <div class="header">
        Select a card
    </div>

    <div id="market-card-select" class="modal-body">
        <!--  All card names are added by gatherCards in epc-ui.js  -->
        <select
            id="add-market-card-dropdown"
            class="ui fluid search selection dropdown">
            <option value="">Card</option>
        </select>
    </div>

    <div class="actions">
        <button
            id="add-market-card-modal-add-button"
            class="ui positive right button">
            ADD
        </button>
    </div>
</div>


<!--  A dialog used to report syntax errors in the card list  -->
<div id="error-modal" class="ui small modal">
    <div id="error-title" class="header">Error</div>

    <div id="error-text" class="modal-body">
    </div>

    <div class="actions">
        <button class="ui positive right button">
            OK
        </button>
    </div>
</div>

<!-- containter here -->
{# <div id="calculator-content"> #}
<div>
  
    {# {% include "partials/epc-header.njk" %} #}

    <div id="calculator-body">
        <div id="influence-panel">
            <div id="card-count-panel">
                <div id="card-count-number">
                </div>
                <div id="card-count-label">
                    CARDS
                </div>
            </div>

            <div id="power-sources-panel">
                <div id="power-sources-number">
                </div>
                <div id="power-sources-label">
                    POWER SOURCES
                </div>
            </div>

            <div id="fire-sources-panel">
                <img src="https://www.shiftstoned.com/epc/icon-fire.png">
                <div id="fire-sources-number" class="influence-number">
                </div>
            </div>

            <div id="time-sources-panel">
                <img src="https://www.shiftstoned.com/epc/icon-time.png">
                <div id="time-sources-number" class="influence-number">
                </div>
            </div>

            <div id="justice-sources-panel">
                <img src="https://www.shiftstoned.com/epc/icon-justice.png">
                <div id="justice-sources-number" class="influence-number">
                </div>
            </div>

            <div id="primal-sources-panel">
                <img src="https://www.shiftstoned.com/epc/icon-primal.png">
                <div id="primal-sources-number" class="influence-number">
                </div>
            </div>

            <div id="shadow-sources-panel">
                <img src="https://www.shiftstoned.com/epc/icon-shadow.png">
                <div id="shadow-sources-number" class="influence-number">
                </div>
            </div>
        </div>

        <div id="deck-edit-panel">
            <div id="deck-edit-header" class="deck-edit-header ui buttons actions">
                <button
                    id="import-button" class="ui button">
                    IMPORT
                </button>
                <div
                    class="ui custom popup transition hidden">
                    <h1>Greetings Huckleberry!</h1>
                    Import or add a deck to get started
                </div>

                <button
                    id="export-button" class="ui button"
                    data-position="top center"
                    data-content="Deck copied to clipboard">
                    EXPORT
                </button>

                <button
                    id="link-button" class="ui button"
                    data-position="top center"
                    data-content="Link copied to clipboard">
                    <img src="https://www.shiftstoned.com/epc/link.svg">
                </button>

                <button
                    id="ewc-button" class="ui button"
                    data-position="top center"
                    data-content="Save this deck on Eternal Warcry">
                    <img src="https://www.shiftstoned.com/epc/ewc.png">
                </button>
            </div>

            <div style="text-align: center">
                    <span class="help">
                        HELP <img src="https://www.shiftstoned.com/epc/menu-help-icon.png" height="12">
                    </span>
                <div class="ui popup help">
                    IMPORT or EXPORT your deck here. Use  <img src="link.svg" width="19" border="1"style="border-radius: 4px; background-color: #27252D; border: solid .75px #FFFFFF; padding: 4px;"> to SHARE your deck with a unique URL.
                </div>
            </div>

            <div id="deck-edit" class="deck-edit">
                <div id="deck-edit-power-title"
                     class="deck-edit-section">
                    POWER BASE
                </div>
                <div id="deck-edit-power-rows">
                </div>

                <div id="deck-edit-nonpower-title"
                     class="deck-edit-section">
                    MAIN DECK
                    <div class="deck-edit-section-description">
                        Additional power sources highlighted
                    </div>
                </div>
                <div id="deck-edit-nonpower-rows">
                </div>
            </div>

            <div id="deck-edit-footer" class="deck-edit-footer">
                <button id="add-card-button" class="ui button pad-right">
                    ADD CARD
                </button>

                <button id="clear-button" class="ui button"
                        data-position="top center"
                        data-content="Deck cleared">
                    CLEAR
                </button>
            </div>

            <div id="market-edit" class="deck-edit">
                <div id="deck-edit-market-title"
                     class="deck-edit-section">
                    MARKET
                </div>
                <div id="deck-edit-market-rows">
                </div>
            </div>

            <div id="market-edit-footer" class="deck-edit-footer">
                <button id="add-market-card-button" class="ui button pad-right">
                    ADD CARD
                </button>

                <button id="clear-market-button" class="ui button"
                        data-position="top center"
                        data-content="Market cleared">
                    CLEAR
                </button>
            </div>
        </div>

        <div id="charts-panel">
            <!--  Buttons to switch between the table and the graph  -->
            <div id="charts-menu">
                <div id="graph-menu-item" class="menu-item active">
                    <img id="influence-graph-menu-title"
                         class="menu-title"
                         src="https://www.shiftstoned.com/epc/influence-graph-menu.png">
                    <img class="output-tab-help-icon help-icon"
                         src="https://www.shiftstoned.com/epc/menu-help-icon.png">
                    <div class="ui popup menu-help">
                        Charts the odds (0-100%) of meeting
                        desired Influence costs based on number
                        of draws.
                    </div>
                </div>
                <div id="table-menu-item" class="menu-item">
                    <img id="power-odds-table-menu-title"
                         class="menu-title"
                         src="https://www.shiftstoned.com/epc/power-odds-table-menu.png">
                    <img class="output-tab-help-icon help-icon"
                         src="https://www.shiftstoned.com/epc/menu-help-icon.png">
                    <div class="ui popup menu-help">
                        Tabulates the odds (0-100%) of meeting
                        desired Influence <em>and</em>
                        Power costs based on number of draws (0-20).
                    </div>
                </div>
            </div>

            <div id="charts-heading">
                <h1 id="deck-title" contenteditable=true></h1>
            </div>

            <div id="power-table-container">
                <div id="power-table-loader" class="ui loader">
                </div>

                <!--
                    The table of costs for the odds table
                    is generated here.
                -->
                <div id="power-table-cost-div">
                </div>

                <!--  The table of draw odds is generated here  -->
                <div id="power-table-odds-div">
                </div>
            </div>

            <div id="power-graph-container">
                <!-- The graph of power and influence is generated here  -->
                <div id="power-graph-div">
                </div>

                <div id="graph-y-label">
                    PROBABILITY
                </div>
                <div id="graph-x-label">
                    TURNS (<a href="guide/index.html#draws" target="_blank">ONE DRAW PER TURN*</a>)
                </div>

                <div id="power-type-panel">
                    <div class="power-type-item">
                        <img src="undepleted.svg">
                        <span class="power-type-label">
                                UNDEPLETED:
                            </span>
                        <span class="power-type-count" tag="undepleted">
                            </span>
                    </div>

                    <div class="power-type-item">
                        <img src="conditional.svg">
                        <span class="power-type-label">
                                CONDITIONAL:
                            </span>
                        <span class="power-type-count" tag="conditional">
                            </span>
                    </div>

                    <div class="power-type-item">
                        <img src="depleted.svg">
                        <span class="power-type-label">
                                DEPLETED:
                            </span>
                        <span class="power-type-count" tag="depleted">
                            </span>
                    </div>

                    <div class="power-type-item">
                        <img src="monument.svg">
                        <span class="power-type-label">
                                MONUMENTS:
                            </span>
                        <span class="power-type-count" tag="monument">
                            </span>
                    </div>

                    <div class="power-type-item">
                        <img src="crest.svg">
                        <span class="power-type-label">
                                CRESTS:
                            </span>
                        <span class="power-type-count" tag="crest">
                            </span>
                    </div>

                    <div class="power-type-item">
                        <img src="waystone.svg">
                        <span class="power-type-label">
                                WAYSTONES:
                            </span>
                        <span class="power-type-count" tag="waystone">
                            </span>
                    </div>

                    <div class="power-type-item">
                    </div>

                    <div class="power-type-item">
                        <img src="standard.svg">
                        <span class="power-type-label">
                                STANDARDS:
                            </span>
                        <span class="power-type-count" tag="standard">
                            </span>
                    </div>

                    <div id="power-type-panel-footer">
                    </div>
                </div>
            </div>
        </div>

        <div id="calculator-body-footer">
        </div>
    </div>
</div>
<!-- End containter here -->
