<div class="newShiftstoned-heading">

  <div class="newHeading-top">

    <a href="/SSG-Sandbox/"><img class="shiftstoned-img" src="/SSG-Sandbox/images/shiftstoned.png" /></a>

    {%- if section %}

      <a href="/SSG-Sandbox/{{ section | lower }}"><img alt="{{ section }}" class="power-calculator-img" src="/SSG-Sandbox/images/Header{{ section }}.png" title="{{ section }}" /></a>

    {%- endif %}

    {%- if about %}

      <div class="newAbout-heading">
          <a class="white" href="{{ about }}">ABOUT</a>
      </div>
      <div id="newNavigation-separator">
      </div>

    {%- endif %}

    {% include "partials/navMenu.njk" %}

  </div>

  <div class="newHeading-page-top">
    &nbsp;
  </div>

</div>
