{#- Consolidating the various scripts into a single include -#}
    <script type="text/javascript" src="/SSG-Sandbox/scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/SSG-Sandbox/scripts/semantic.min.js"></script>
    <script type="text/javascript" src="/SSG-Sandbox/scripts/epc.min.js"></script>
    <script type="text/javascript">$(".ui.dropdown").dropdown();</script>
