{# Dropdown menu for navigation #}
{# &RelativeURL #}

<div class="ui dropdown" id="navigation-menu" tabindex="0">

  <img src="https://www.shiftstoned.com/global/images/navigation-menu.png" />

    <div class="menu left transition hidden" tabindex="-1">

      <div class="item">
        <a href="/SSG-Sandbox/epc/">POWER CALCULATOR </a>
      </div>

    <div class="item">
      <div class="navigation-menu-indent">
        <a href="/SSG-Sandbox/epc/guide/">&bull; </a>
      </div>
      <a href="/SSG-Sandbox/epc/guide/">Guide </a>
    </div>

    <div class="item">
      <a href="/SSG-Sandbox/calendar/">COMMUNITY CALENDAR </a>
    </div>

    <div class="item">
      <a href="/SSG-Sandbox/articles/">ARTICLES </a>
    </div>

    <div class="item">
      <a href="/SSG-Sandbox/contact">CONTACT </a>
    </div>

    <div class="item">
      <a href="/SSG-Sandbox/">HOME </a>
    </div>

  </div>

</div>
