{# &EDIT - can probably be renamed to articles-banner and consolidated #}
<div class="shiftstoned-heading">

  <div class="heading-top">

    <a href="/SSG-Sandbox/"><img class="shiftstoned-img" src="https://www.shiftstoned.com/global/images/LogoShiftstoned.png" /></a><a href="../articles/"><img alt="Articles" class="power-calculator-img" src="https://www.shiftstoned.com/articles/HeaderArticles.png" title="Articles" /></a>

    {% include "partials/navMenu.njk" %}


  </div>

  <div class="heading-page-top">
    &nbsp;
  </div>

</div>
