<div class="shiftstoned-heading" style="border: 0px solid blue;">

  <div class="heading-top" style="border: 0px solid red;">

    <a href="../"><img class="shiftstoned-img" src="https://www.shiftstoned.com/global/images/shiftstoned.png" /></a><a href="../articles/"><img alt="Articles" class="power-calculator-img" src="https://www.shiftstoned.com/articles/HeaderArticles.png" title="Articles" /></a>

    {# Uncomment to restore drop down options #}
    {# <div class="ui dropdown" id="navigation-menu" tabindex="0">

      <img src="https://www.shiftstoned.com/global/images/navigation-menu.png" />

        <div class="menu left transition hidden" tabindex="-1">

          <div class="item">
            <a href="../epc/">POWER CALCULATOR </a>
          </div>

        <div class="item">
          <div class="navigation-menu-indent">
            <a href="../epc/guide/">&bull; </a>
          </div>
          <a href="../epc/guide/">Guide </a>
        </div>

        <div class="item">
          <a href="../calendar/">COMMUNITY CALENDAR </a>
        </div>

        <div class="item">
          <a href="../articles/">ARTICLES </a>
        </div>

        <div class="item">
          <a href="../contact">CONTACT </a>
        </div>

        <div class="item">
          <a href="..">HOME </a>
        </div>

      </div>

    </div> #}

  </div>

  <div class="heading-page-top">
    &nbsp;
  </div>

</div>
