{# Temporary menu for testing navigation #}

<a href="/SSG-Sandbox/">Home</a> |
<a href="/SSG-Sandbox/epc">EPC</a> |
<a href="/SSG-Sandbox/articles">Articles</a> |
<a href="/SSG-Sandbox/drafter">Drafter</a> |
<a href="/SSG-Sandbox/contact">Contact</a> |
