
<!--  A dialog displayed when the "About" button is clicked  -->
<aside id="about-modal" class="ui tiny modal">
    <div class="header">About Shiftstoned Power Calculator</div>

    <div id="about-text" class="modal-body">

        <p>
            You will gain a competitive edge in <b>Eternal</b> by maximizing the chances of playing your cards on curve.

        <p>
            Getting under the hood and optimizing your deck's power base is the best way to ensure that you can play the cards you want, when you want to play them.

        <p>
            The <b>Eternal Power Calculator</b> is a deck-building tool that visualizes your odds of drawing enough <b>Influence</b> and <b>Power</b> based specifically on the cards found in your deck.

        <p>
            Select the <b>Import</b> button and paste a deck from <b>Eternal</b> to get started. Or start from scratch by adding a card.

        <p>
            Want to learn more?
        <ul>
            <li><a href="guide/index.html" target="_blank">How it works</a>
            <li><a href="guide/index.html#chart" target="_blank">Charting Influence</a>
            <li><a href="guide/index.html#draws" target="_blank">Draws vs. Turns</a>
            <li><a href="guide/index.html#table" target="_blank">Power Odds Table</a>
            <li><a href="guide/index.html#not" target="_blank">What is NOT accounted for?</a>
            <li><a href="guide/index.html#next" target="_blank">What's next?</a>

        </ul>

        <p>
            For more on the math behind the <strong>Eternal Power Calculator</strong>, check out the <a href="guide/expanded.html" target="_blank">in-depth guide to calculations</a>.

        <p>
            The original source code for Eternal Power Calculator is
            <a href="https://github.com/matt-kimball/epc" target="_blank">available
                on GitHub</a>.
    </div>

    <div class="actions">
        <button class="ui positive right button">
            OK
        </button>
    </div>
</aside>