
<!--  Dialog for adding a new card  -->
<aside id="add-card-modal" class="ui mini modal">
    <div class="header">
        Select a card
    </div>

    <div id="card-select" class="modal-body">
        <!--  All card names are added by gatherCards in epc-ui.js  -->
        <select
            id="add-card-dropdown"
            class="ui fluid search selection dropdown">
            <option value="">Card</option>
        </select>
    </div>

    <div class="actions">
        <button
            id="add-card-modal-add-button"
            class="ui positive right button">
            ADD
        </button>
    </div>
</aside>

<!--  Dialog for adding a market card  -->
<aside id="add-market-card-modal" class="ui mini modal">
    <div class="header">
        Select a card
    </div>

    <div id="market-card-select" class="modal-body">
        <!--  All card names are added by gatherCards in epc-ui.js  -->
        <select
            id="add-market-card-dropdown"
            class="ui fluid search selection dropdown">
            <option value="">Card</option>
        </select>
    </div>

    <div class="actions">
        <button
            id="add-market-card-modal-add-button"
            class="ui positive right button">
            ADD
        </button>
    </div>
</aside>