
<!--  A dialog used to report syntax errors in the card list  -->
<aside id="error-modal" class="ui small modal">
    <div id="error-title" class="header">Error</div>

    <div id="error-text" class="modal-body">
    </div>

    <div class="actions">
        <button class="ui positive right button">
            OK
        </button>
    </div>
</aside>