---
layout: layouts/html.njk
bg_img: https://www.shiftstoned.com/epc/Trove.jpg
section: Epc
about: ../about/
---
Rendered from epc/about/index.njk<br>
EPC About content to go here<br>
Removed page style, but A B O U T link should still be white
