---
title: Drafter
layout: layouts/html_noTag.njk
offset: 'top: -100px;'
about: about/
page_styles:
    - css/app.css
page_scripts:
    - js/cards.js
    - js/index.js
page_style: drafter_mobile.css
page_class: drafter
---
<!-- Main page content -->
<div id="app"></div>