.articles-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.article-brief {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "image title" "image description" "image link";
}

.article-brief header {
    grid-area: title;
}

.article-brief .article-description {
    grid-area: description;
}

.article-brief footer {
    grid-area: link;
}

.article-brief .article-image {
    grid-area: image;
    width: 250px;
    margin-left: 35px;
    margin-right: 15px;
    background-color: grey;
}
