.article {
    padding: 0 30px 30px;
}

.articles-list {
    --list-gap: .75em;
    display: flex;
    flex-direction: column;
    gap: var(--list-gap);
}

.articles-list .article-brief {
    display: grid;
    grid-template-columns: 250px 600px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "image title"
                         "image description"
                         "image link";
    column-gap: 30px; row-gap: .5em;
}
.articles-list .article-brief:not(:first-child) {
    border-top: 2px gray groove;
    padding-top: var(--list-gap);
}
.articles-list .article-brief:last-child {
    border-bottom: 2px gray groove;
    padding-bottom: var(--list-gap);
}

.articles-list .article-brief header {
    grid-area: title;
    margin: 0;
}
.articles-list .article-brief header h2 {
    font-size: 1.8em;
    line-height: 1.2; 
}

.articles-list .article-brief .article-description {
    grid-area: description;
    font-family: Merriweather,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 15px;
    color: white;
}
.articles-list .article-brief .article-description p {
    line-height: 1.6;
}

.articles-list .article-brief footer {
    grid-area: link;
    display: flex;
    gap: 2em;
}
.articles-list .article-brief footer > p {
    margin: 0;
}

.articles-list .article-brief .article-thumbnail {
    grid-area: image;
    margin-block-start: 0.5em; /* align top of image with top of title text */
}
.articles-list .article-brief .article-thumbnail img {
    width: 250px;
    height: auto;
    object-fit: contain;
}

.page-selector {
    padding: 1.5em 0 0;
}
.page-selector .pagination {
    list-style: none;
    margin: 0; padding: 0;
    display: flex;
    gap: 1.5em;
    justify-content: center;
}
.pagination .page-nav {
    flex: 0 0 7em; /* make each nav item the same size */
}
.pagination .first,
.pagination .previous {
    text-align: start;
}
.pagination .page-numbers {
    text-align: center;
}
.pagination .first,
.pagination .previous {
    text-align: end;
}
.page-selector .first a::before {
    content: "« ";
}
.pagination .previous a::before {
    content: "‹ ";
}
.pagination .next a::after {
    content: " ›";
}
.pagination .last a::after {
    content: " »";
}

.article-description.text-yellow {
    color:#f8de7e;
}

/* !! from wip page css 'mdArticles.css' -- merge when incorporated into main site css */
.highlight {
    color:#81C3F4;
}

.arrow-link {
    font-weight: bold;
}
.arrow-link::after {
    content: " ►";
}


/* !! from 'mainpage.css' -- merge when incorporated into main site css */
.frontpage-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.frontpage-articles .article-brief {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1em;
    padding: 1rem;
    font: 15px Merriweather,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    line-height: 1.6;
}
.frontpage-articles .article-brief .articleListingTitle {
    font-size: 24px;
}
.frontpage-articles .article-brief .article-thumbnail {
    grid-row: 1;
}
.frontpage-articles .article-brief .article-thumbnail img {
    width: 100%;
    height: auto;
}
/* 2n & 2n+1 reversed from homepage because no double-sized article */
.frontpage-articles .article-brief:nth-child(2n) {
    padding-right: 0;
}
.frontpage-articles .article-brief:nth-child(2n+1) {
    padding-left: 0;
    border-right: 1px solid var(--MineShaft);
}
.frontpage-articles .article-brief {
    border-top: 1px solid var(--MineShaft);
}
