    /* css for articles */

    body {
      background-color: coral;
    }

    #background {
        position: fixed;
        width: 100%;
        z-index: -1;
        top: -100px;
        left: 0px;
        margin: 0px auto;
    }

    #guide_body {
        margin-left: 40px;
        background-color: #17141D;
        border: 0px solid;
        border-bottom: none;
        width: 1250px;
        min-height: 1350px;
    }
