.article {
    --block-margin: 1.5rem;
}

.article {
    padding: 0 30px 30px;
    display: grid;
    grid-template-columns: 250px 600px; /* sidebar + main column layout */
    column-gap: 30px;
    align-content: start;
    /* .textcol text styles */
    font-size: 15px;
    font-family: Merriweather,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    line-height: 1.6;
    color: #ffffff;
}
.article > * {
    grid-column: 2; /* unless otherwise specified, place all content inside the main column */
}

.articleHeader {
    margin-block-end: var(--block-margin);
}
.article .title,
.article .subtitle,
.article .tagline,
.article hr,
.article > p {
    margin: 0 0 var(--block-margin);
}

.article .pre-headline {
    display: flex; /* force line break */
    margin-block-end: 0.5em;
    font: 12px Open Sans;
    color: #FFD700;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.article a {
    color: #81C3F4;
}
.article a:hover {
    color: #4183c4;
}

.side-image {
    grid-column: 1; /* place in 1st column (sidebar) */
    grid-row: span 100; /* overflow as many rows as needed */
    /* need to check above for browser support
       if it doesn't work everywhere, could instead keep this wrapper in the main column,
       then give it position:relative & the position:absolute the child <img> to display it 
       in the sidebar */
    margin: 0; /* clear assigned <figure> margins */
    margin-inline-start: auto; /* right-align images */
}
.side-image img {
    max-width: 100%;
    height: auto;
}
.side-image.card-image img {
    width: 220px;
}
.side-image.card-image.ci-small img {
    width: 125px;
}

.article-image {
    grid-row: 1 / span 100; /* overflow as many rows as needed */
}
.article-image img {
    width: 250px;
    height: auto;
    object-fit: contain;
}

.article ul {
    margin-block-end: var(--block-margin);
}
.article ul li:not(:last-child) {
    margin-block-end: 1rem;
}
.article ul li {
    list-style: none;
}
.star-list li::before {
    content: "★";
    margin-right: .5em;
}
.list-compact {
    font-size: 14px;
    font-family: Open Sans;
}
.article .list-compact li:not(:last-child) {
    margin-block-end: 0;
}

.main-col-image {
    margin: 0; /* clear assigned <figure> margins */
    margin-block-end: var(--block-margin);
}
.main-col-image img {
    width: 100%; /* width of the main column */
    height: auto;
}

.highlight {
    color:#81C3F4;
}
.article blockquote {
    font-size: 18px;
    font-family: Open Sans,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    line-height: 1.4;
    color: #81C3F4;
}

.arrow-link {
    font-weight: bold;
}
.arrow-link::after {
    content: " ►";
}

/* top 8 articles */
h3 .epc-link{
    text-decoration: underline;
}
h3 .epc-link::before {
    display: inline-block;
    content: "► ";
    color: white;
    margin-inline-end: .5ch;
}

.article-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 9pt;
    font-family: arial, sans, sans-serif;
}

.article-table,
.article-table tr,
.article-table td,
.article-table th {
    border: 1px solid white;
}
.article-table td,
.article-table th {
    padding: 2px 3px;
}
.article-table thead th {
    vertical-align: bottom;
}
.article-table thead th:nth-child(1) {
    width: 17%;
}
.article-table thead th:nth-child(2),
.article-table thead th:nth-child(3),
.article-table thead th:nth-child(4) {
    width: 15%;
}

.yellow {
    color: #ffd700;
}
.grey {
    color: #999999;
}