---
title: Shiftstoned Drafter - About
layout: layouts/html.njk
section: Drafter
bg_img: ../../images/BackgroundDrafter.jpg
about: ../about/
---
<div style="margin-left: 30px;">
  <a href="/drafter/">&#9668; Return to the Drafter</a>
</div>

<div class="textcol">

    <div class="title">ShiftStoned Drafter: A User's Guide</div>

    <div class="subtitle">
      Welcome to the <strong>ShiftStoned Drafter</strong>, a fan-built draft pick selection tool for <a href="https://www.direwolfdigital.com/eternal/" target="_blank">Eternal Card Game</a>
    </div>

    <div class="tagline">
      Featuring evaluations by <a href="../EternalJourney/">Jedi_EJ and Eternal Journey</a>
    </div>

    <div class="subheading first">
      Getting started
    </div>

    <p>
      Start by searching for a card from your draft selections. Cards from the current <strong>Eternal</strong> Draft format will appear in the dropdown.
    </p>
      <img src="/images/drafter/about/search.jpg" style="margin-top: 10px; margin-bottom: 20px;">
    <p>
      Selecting a card from the dropdown adds it to a Picks section for comparison with other cards.
    </p>

    <div class="subheading first">
      Comparing picks
    </div>
    <p>
      Card ratings from your evaluator are displayed in a color-coded circle at upper right. Compare ratings by adding additional cards to your <strong>Picks</strong>. You can choose to compare every card in your pack, or just a handful.

      <img src="/images/drafter/about/picks.jpg" style="margin-top: 10px; margin-bottom: 20px; width: 600px;">
    </p>
    <p>
      Some cards feature additional analysis by the evaluator. These cards display a “speech bubble” icon over their rating. Hover over the rating to view a detailed comment. Click the 'X' to remove a pick from your comparisons.
    </p>

      <img src="/images/drafter/about/navigator.jpg" style="margin-top: 10px; margin-bottom: 20px;">

    <p>
      You may click a card’s 'X' to remove it from your pick comparisons.
    </p>

    <div class="subheading first">
      Choosing picks
    </div>
    <p>
      Selecting a card from your <strong>Picks</strong> will add it to your <strong>Deck</strong> or <strong>Pool</strong> list. Use the tabs in the column on the right to select between your <strong>Deck</strong> and your <strong>Pool</strong>. Picking a card clears all the cards from your <strong>Picks</strong> section (unless the “Reset pack…” option is deselected).
    </p>

      <img src="/images/drafter/about/deckpool.jpg" style="margin-top: 10px; margin-bottom: 20px;">

    <p>
      Interact with cards in the Deck and Pool lists to move them between lists, add more copies, or remove them.
    </p>

    <div class="subheading first">
      Sharing and exporting
    </div>
    <p>
      Use the Export tools to copy your <strong>Deck</strong> or <strong>Pool</strong> to the clipboard, or view them in the <a href="/epc/" target="_blank">Eternal Power Calculator</a> or on <a href="https://eternalwarcry.com/" target="_blank">Eternal Warcry</a>.
    </p>
      <img src="/images/drafter/about/share.jpg" style="margin-top: 10px; margin-bottom: 20px;">
    <p>
      A unique URL is generated as you add cards to your <strong>Picks</strong>, <strong>Deck</strong>, and <strong>Pool</strong>. Share it with others or bookmark it to save your progress.
    </p>

    <hr style="margin-top: 25px; margin-bottom: 0px" width="100%" />
          <atsub style="color:#81C3F4;">
          Help us to improve the Drafter by <a href="/contact/">contacting</a> ShiftStoned with your feedback.</atsub>

      <br><br><br>

</div>
