---
title: Shiftstoned Drafter - About
layout: layouts/html.njk
section: Drafter
bg_img: ../../images/BackgroundDrafter.jpg
about: ../about/
---
<div class="textcol">

  <br /><br />

    <div class="title">ShiftStoned Drafter: A User's Guide</div>

    <div class="subtitle">
      Welcome to the <strong>ShiftStoned Drafter</strong>, a fan-built draft pick selection tool for <a href="https://www.direwolfdigital.com/eternal/" target="_blank">Eternal Card Game
    </div>

    <div class="tagline">
      Featuring evaluations by <a href="../EternalJourney/">Jedi and Eternal Journey</a>
    </div>

    <div class="subheading first">
      Getting started
    </div>

    <p>
      Start by searching for a card from your draft selections. Cards from the current format will appear in the dropdown.
    </p>
      <img src="/images/drafter/about/search.jpg" style="margin-top: 10px; margin-bottom: 10px;">
    <p>
      Card ratings are displayed in a color-coded circle at upper right. Compare ratings by searching for picks. Add every card from your pack, or just a handful.

      <img src="/images/drafter/about/picks.jpg" style="margin-top: 10px; width: 80%;">
    </p>



</div>
