---
title: Shiftstoned Drafter - About
layout: layouts/html.njk
section: Drafter
bg_img: ../../images/BackgroundDrafter.jpg
about: ../about/
---
<div class="textcol">

  <br /><br />

    <div class="title">ShiftStoned Drafter: A User's Guide</div>

    <div class="subtitle">
      Welcome to the <strong>ShiftStoned Drafter</strong>, a fan-built draft pick selection tool for <a href="https://www.direwolfdigital.com/eternal/" target="_blank">Eternal Card Game</a>
    </div>

    <div class="tagline">
      Featuring evaluations by <a href="../EternalJourney/">Jedi_EJ and Eternal Journey</a>
    </div>

    <div class="subheading first">
      Getting started
    </div>

    <p>
      Start by searching for a card from your draft selections. Cards from the current Eternal Draft format will appear in the dropdown.
    </p>
      <img src="/images/drafter/about/search.jpg" style="margin-top: 10px; margin-bottom: 20px;">

    <div class="subheading first">
      Comparing picks
    </div>
    <p>
      Card ratings are displayed in a color-coded circle at upper right. Compare ratings by searching for additional picks. You can choose to compare every card in your pack, or just a handful.

      <img src="/images/drafter/about/picks.jpg" style="margin-top: 10px; margin-bottom: 20px; width: 80%;">
    </p>  
    <p>
      Many cards will display a speech bubbble. Hover over it to view a detailed comment. Click the 'X' to remove a pick from your comparisons.

      <img src="/images/drafter/about/navigator.jpg" style="margin-top: 10px; margin-bottom: 20px; width: 80%;">
    </p>

    <div class="subheading first">
      Choosing picks
    </div>
    <p>
      Click a card to pick it. Your pick will be added to your <strong>Deck</strong> by default. Use the tabs in the column on the right to select between your <strong>Deck</strong> and your <strong>Pool</strong>.
    </p>



</div>
