---
layout: layouts/html.njk
page_style: mainpage.css
---
{% include "partials/header.njk" %}

<main class="page-content mainpage">

  <section>

    <a href="article-template/">Link to article template</a>

    <img src="images/sandbox.jpg" style="  display: block; margin-left: auto; margin-right: auto; width: 70%;">
    <!-- <h2>Consequat mollit nulla ad sint laboris.</h2>
    <p>
      Aute commodo commodo laborum reprehenderit proident. Et id Lorem culpa nostrud fugiat elit aute. Cupidatat commodo ut et fugiat voluptate esse nostrud in. Sit eiusmod anim est est eiusmod labore velit voluptate velit fugiat commodo nostrud laboris eiusmod.
    </p>
  </section>
  <section>
    <h2>Ea deserunt sunt est ullamco minim in nisi voluptate mollit do quis exercitation qui excepteur.</h2>
    <p>
      Exercitation nostrud amet eiusmod esse proident est ullamco in et enim occaecat incididunt. Nisi proident Lorem eiusmod tempor ea proident mollit. Nostrud aliqua proident mollit quis irure duis eu ad sunt aliqua. Minim proident Lorem incididunt elit in ea ex sunt nostrud dolore sint duis ipsum. Sit pariatur consequat id enim amet deserunt duis adipisicing magna. Veniam quis esse laboris id adipisicing qui excepteur. Lorem officia mollit labore consequat magna dolore labore.
    </p> -->

  </section>


</main>

{% include "partials/footer.njk" %}
