---
layout: layouts/html.njk
bg_img: images/BackgroundHome.jpg
about: about/
homepage_logo: 'width: 40%; -webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);'
title: Home
---
          <!-- Main content here -->
          <div class="centralGrid" style="width: 93%; border: solid 0px white; background-color:; margin: auto;">

              <div style="text-align: center;">
                A fan-built site hosting player resources for <a href="https://www.direwolfdigital.com/eternal/" target="_blank">Eternal, A Strategy Card Game</a>
             </div>

             <br>
             R E S O U R C E S

             <!-- Twitter link -->
             <div display style="display: inline-block; float: right;"><a href="https://twitter.com/shiftstoned?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @shiftstoned</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>

             <hr>

             <div class="row">

               <div class="homepageFeature">
                 <a href="epc/"><div class="homepageFeatureLabel">Eternal Power Calculator</div>
                 <img src="images/Home_EPC.jpg"></a>
               </div>

               <div class="homepageFeature center">
                 <a href="calendar/"><div class="homepageFeatureLabel center">Community Calendar</div>
                 <img src="images/HomeCalendar.jpg"></a>
               </div>

               <div class="homepageFeature right">
                 <a href="drafter/"><div class="homepageFeatureLabel right">Eternal Drafter</div>
                 <img src="images/HomeDrafter.jpg"></a>
               </div>

             </div>

             <br>
             R E C E N T

             <hr style="margin-top: 0px; margin-left: 0px; width: 100%; border: 1px solid #333333">

             <!-- BEGIN ARTICLE LISTING --><a href="" target="blank"><img src="" style="float: left; width: 250px; margin-left: 155px; margin-right: 15px;" target="_blank" /></a> <span style="margin-left: 125px; display:block"> <global_header_home> <a href="/articles/DrafterLaunch/">Introducing the Eternal Drafter</a></global_header_home> <global_body> <strong>May 31, 2020</strong> - A new drafting tool featuring evaluations by Jedi_EJ and Eternal Journey joins the suite of fan-built players resources for Eternal Card Game at ShiftStoned.
             <div>&nbsp;</div>
             <a href="/articles/DrafterLaunch/">Read more ► </a> </global_body></span><br />
             <hr style="margin-top: 0px; margin-left: 125px; width: 1000px; border: 1px solid #333333" />
             <br />
             <!-- END  ARTICLE LISTING -->


              <span style="margin-left: 125px"><br>
                  <hr style="margin-top: 0px; margin-left: 125px; width: 1000px; border: 1px solid #333333">
               </span><br>


               <br><br><center><a href="http://www.papacapricorn.com" target="_blank"><img width="54" src="https://www.shiftstoned.com/images/capricorn.png"></a></center>
       <br><br>


          </div> <!-- End centralGrid -->



      {# <img src="images/sandbox.jpg" style="  display: block; margin-left: auto; margin-right: auto; width: 70%;"> #}

    {# </div>

  </section>

</main> #}
