---
layout: layouts/html.njk
page_style: mainpage.css
---

{# Layout for the homepage #}

<img class="background" src="/SSG-Sandbox/images/Mistrust_Wallpaper2560x1600.jpg" />

{% include "partials/header.njk" %}

{# Homepage section banner for logo and navigation menu #}

{# &EDIT: Re-organize to create unique layout for homepage #}

{# Border styles are temporary tools for debugging and layout  #}

<div class="shiftstoned-heading" style="border: 0px solid blue;">

  <div class="heading-top" style="border: 0px solid red;">

    <a href="/SSG-Sandbox/"><img class="shiftstoned-img" src="https://www.shiftstoned.com/global/images/shiftstoned.png" /></a>

    {% include "partials/navMenu.njk" %}

  </div>

  <div class="heading-page-top">
    &nbsp;
  </div>

</div>


<main class="page-content mainpage">

  <section>

    <div class="bodyGrid">

      {% include "partials/tempMenu.njk" %}
      <br><br>
      <a href="epc/">Link to Eternal Power Calculator (Sandbox)</a>
      <br><br>
      <a href="drafter/">Link to Shiftstoned drafting tool mock-up</a>
      <br><br>
      <a href="articles/">Link to Articles section mock-up</a>

      {# <img src="images/sandbox.jpg" style="  display: block; margin-left: auto; margin-right: auto; width: 70%;"> #}

    </div>

  </section>

</main>

{% include "partials/footer.njk" %}

{% include "partials/jsSrc.njk" %}

{# <script type="text/javascript" src="/SSG-Sandbox/scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/SSG-Sandbox/scripts/semantic.min.js"></script>
<script type="text/javascript" src="/SSG-Sandbox/scripts/epc.min.js"></script>
<script type="text/javascript">$(".ui.dropdown").dropdown();</script> #}
