---
title: Articles | Introducing the Drafter
layout: layouts/html.njk
bg_img: /images/BackgroundArticles.jpg
section: Articles
override:tags: []
---
<div class="textcol" style="border: 0px solid red;">

  <div class="title">Introducing the Eternal Drafter</div>

  <p class="subtitle">
    A fan-built drafting tool for Eternal Card Game</a>
  </p>

  <p class="tagline">
    Featuring evaluations by <a href="/drafter/EternalJourney/">Jedi_EJ and Eternal Journey</a>
  </p>

  <br>
  <p>
  <a href="legacy/StrangeNavigator/">Strange Navigator</a>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at iaculis dolor. Aenean nec orci id enim suscipit tincidunt in non est. Suspendisse laoreet quam at ligula condimentum, a volutpat nulla sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In feugiat lectus at justo blandit, ac egestas est suscipit. Nunc sit amet massa semper, vulputate lectus in, auctor risus. Nunc tincidunt est id sem vulputate mollis. Aliquam sed elit vitae odio vestibulum elementum. Nunc vitae quam ac eros suscipit rhoncus eu vel mi. Nulla id aliquam velit.
  </p>
  <p>
    Suspendisse id orci malesuada, tincidunt mauris ac, tincidunt justo. Pellentesque ultricies, mauris quis luctus pulvinar, augue enim maximus felis, quis auctor ante sem at diam. Suspendisse mollis fringilla vehicula. Integer ullamcorper maximus tortor. Fusce eget erat erat. In et tellus vel diam ultricies consequat vel nec mi. In lobortis accumsan rhoncus. Donec sed iaculis enim, at tempor neque. Nam porta sapien in risus venenatis tincidunt. Nam est lectus, ornare eu mollis quis, pharetra et lectus. Fusce ac tortor nec est feugiat interdum.
  </p>

</div>
