---
title: Articles
layout: layouts/html.njk
bg_img: https://www.shiftstoned.com/articles/CrypticEtchings.jpeg
section: Articles
override:tags: []
---

    Now displaying with html.njk, expect to lose headbanner<br>
    Added bg_img and section: {{section}} to front matter
    {# Now displaying with variable headbanner.njk #}

    {# Automated index feature to be implemented #}
    {# <h2>List of articles:</h2>
    <ul>
    {%- for page in collections.news %}
        <li>
            <a href="{{ page.url | url }}">{{ page.data.title }}</a> -
            <time datetime="{{ page.date }}">{{ page.date}}</time>
        </li>
    {%- endfor %}
    </ul> #}
