---
title: Articles
layout: layouts/html.njk
bg_img: ../images/CrypticEtchings.jpeg
section: Articles
override:tags: []
---
      <textcol style="border: 0px solid red;">

        Complete variables for Faction colors

      </textcol>
