---
title: Articles
layout: layouts/html.njk
bg_img: ../images/BackgroundArticles.jpg
section: Articles
override:tags: []
---
<textcol style="border: 0px solid red;">

        Complete variables for Faction colors<br>
        Testing stability of CNAME passthrough

      </textcol>
