---
title: Articles | Shadow of the Spire - ECQ Rundown
layout: layouts/html.njk
bg_img: /images/BackgroundArticles.jpg
section: Articles
override:tags: []
---
<a href="/images/articles/ShadowOfTheSpire.jpg" target="_blank"><img class="articleMargin" alt="Graphic" src="/images/articles/ShadowOfTheSpire.jpg"/></a>

<main class="textcol">

  <!-- This is just spacing - add to other elements -->
  <p style="" /><br></p>

  <header>
    <h1 class="title">Shadow of the Spire: ECQ Rundown</h1>
    <p class="subtitle">
      Taking a look at the Top Eight decks from the <a href="">Shadow of the Spire</a>
    </p>
    <p class="tagline">
      <strong>Power</strong> portraits and standout features for each the finalists
    </p>
  </header>

  <br><br>

  <strong>May 25, 2020</strong> - Built with Jekk or built to beat Jekk (x/5+ health units). Or both. Something about balance changes, diversity of field, competitors, etc. Something about balance changes, diversity of field, competitors, etc.

  <h3 class="placement first" />
    1st&nbsp; P L A C E:
  </h3>

  <!-- 1st -->
  <section class="topDeckProfile">

    <img alt="Card Image" src="https://cards.eternalwarcry.com/cards/full/Spitflame_Draconus.png" class="galleryDeck" />

    <h2 class="topDeckTitle">
      &#9658;<a href="https://www.shiftstoned.com/epc/?d=EIBEBhGEB4MCBlGEIIE_hBBE_hBIEB6GBEhBEFaEC-DEItDEvfNLBBJB7FEA1BEHiFCAABH_CBAYBBuGBFSBBtG&t=%5BCollecter%5D%20Collecter's%20decklist%20(Top%2064)" target="_blank"><u>Collecter's Decklist</u></a> (Chonky Skycrag)
    </h2>

    <p>
      23F, 21P, No Emblems, 4 Seeks, Eilyn's Favor in the Market
    </p>
    <p>
      <span style="color: #81C3F4"><strong>Standout feature:</strong></span> Something something new paragraph.
    </p>

    <p style="https://www.shiftstoned.com/epc/?d=EIBEBhGEB4MCBlGEIIE_hBBE_hBIEB6GBEhBEFaEC-DEItDEvfNLBBJB7FEA1BEHiFCAABH_CBAYBBuGBFSBBtG&t=%5BCollecter%5D%20Collecter's%20decklist%20(Top%2064)" />
      <a href="" target="_blank">view deck &#9658; </a>
    </p>

  </section>

  <h3 class="placement second" />
    2nd&nbsp; P L A C E:
  </h3>

  <!-- 2nd -->
  <section class="topDeckProfile">

    <img alt="Card Image" src="https://cards.eternalwarcry.com/cards/full/Destruction_Chant.png" class="galleryDeck" />

    <h2 class="topDeckTitle">
      &#9658;<a href="https://www.shiftstoned.com/epc/?d=EIBEI2FEIED9hBODBlIEIHEIKD9hBRE_hBMCCvGE_hBBBI7EEI0BDI8EDImFEBBDB5HEB_BCCrFEA8BEA2BEA9BCAABHiBBH3EBIqBBHsBBH6F&t=%5Bblackice%5D%20blackice's%20decklist%20(Top%2064)" target="_blank"><u>blackice's Decklist</u></a> (Jekkinations Destruction)
    </h2>

    <p>
      18F, 18T, 15S, Destruction Chant x4, Ark of Sol in Market
    </p>
    <p>
      <span style="color: #81C3F4"><strong>Standout feature:</strong></span> Something something new paragraph.
    </p>

    <p style="" />
      <a href="https://www.shiftstoned.com/epc/?d=EIBEI2FEIED9hBODBlIEIHEIKD9hBRE_hBMCCvGE_hBBBI7EEI0BDI8EDImFEBBDB5HEB_BCCrFEA8BEA2BEA9BCAABHiBBH3EBIqBBHsBBH6F&t=%5Bblackice%5D%20blackice's%20decklist%20(Top%2064)" target="_blank">view deck &#9658; </a>
    </p>

  </section>

  <h3 class="placement third" />
    3rd&nbsp; P L A C E:
  </h3>

  <!-- 3rd -->
  <section class="topDeckProfile">

    <img alt="Card Image" src="https://cards.eternalwarcry.com/cards/full/Strange_Gladiator.png" class="galleryDeck" />

    <h2 class="topDeckTitle">
      &#9658;<a href="https://www.shiftstoned.com/epc/?d=EIBCGxBDIhBEBLDIGEInBEIIEIKDH1GE_hBME_hBBE9hBBEIyEDIYHBBEB_BCHfEHBECrFEA2BCAABADBFSBCwFBIqBBHsB&t=%5BGilead%5D%20Gilead's%20decklist%20(Top%2064)" target="_blank"><u>Gilead's Decklist</u></a> (Praxis Aggro)
    </h2>

    <p>
      Paragraph
    </p>
    <p>
      <span style="color: #81C3F4"><strong>Standout feature:</strong></span> Something something new paragraph.
    </p>

    <p style="" />
      <a href="https://www.shiftstoned.com/epc/?d=EIBCGxBDIhBEBLDIGEInBEIIEIKDH1GE_hBME_hBBE9hBBEIyEDIYHBBEB_BCHfEHBECrFEA2BCAABADBFSBCwFBIqBBHsB&t=%5BGilead%5D%20Gilead's%20decklist%20(Top%2064)" target="_blank">view deck &#9658; </a>
    </p>

  </section>

  <!-- 4th -->
  <section class="topDeckProfile">

    <img alt="Card Image" src="https://cards.eternalwarcry.com/cards/full/Reborn_Master.png" class="galleryDeck" />

    <h2 class="topDeckTitle">
      &#9658;<a href="https://www.shiftstoned.com/epc/?d=EI9BCBiEEH_BEEmGD9hBOEBrEDHkCEIgCEIqFCByEECqHEIqCED6DEImEKB-DFB5HEHjGCH5DEA3BCAABHmGBIrCBCsHBHrEBIpC&t=%5BKosmiker%5D%20Kosmiker's%20decklist%20(Top%204)" target="_blank"><u>Kosmiker's Decklist</u></a> (Argenport Midrange)
    </h2>

    <p>
      Paragraph
    </p>
    <p>
      <span style="color: #81C3F4"><strong>Standout feature:</strong></span> Something something new paragraph.
    </p>

    <p style="" />
      <a href="https://www.shiftstoned.com/epc/?d=EI9BCBiEEH_BEEmGD9hBOEBrEDHkCEIgCEIqFCByEECqHEIqCED6DEImEKB-DFB5HEHjGCH5DEA3BCAABHmGBIrCBCsHBHrEBIpC&t=%5BKosmiker%5D%20Kosmiker's%20decklist%20(Top%204)" target="_blank">view deck &#9658; </a>
    </p>

  </section>

  <h3 class="placement fifth" />
    5th&nbsp; P L A C E:
  </h3>

  <!-- 5th -->
  <section class="topDeckProfile">

    <img alt="Card Image" src="https://cards.eternalwarcry.com/cards/full/Vorlunk_Corps.png" class="galleryDeck" />

    <h2 class="topDeckTitle">
      &#9658;<a href="https://www.shiftstoned.com/epc/?d=EI4CEBhGEB4MEHkCE_hBHCH_FDC7GD_hBIED6DEB6GBF_CEHhGEvfSD_hBTBI3CBH5CFB-DIB7FCH9BCH7CEC4GEAzB&t=%5Bzdch%5D%20zdch's%20decklist%20(Top%2064)" target="_blank"><u>zdch's Decklist</u></a> (Hooru Midrange)
    </h2>

    <p>
      Paragraph
    </p>
    <p>
      <span style="color: #81C3F4"><strong>Standout feature:</strong></span> Something something new paragraph.
    </p>

    <p style="" />
      <a href="https://www.shiftstoned.com/epc/?d=EI4CEBhGEB4MEHkCE_hBHCH_FDC7GD_hBIED6DEB6GBF_CEHhGEvfSD_hBTBI3CBH5CFB-DIB7FCH9BCH7CEC4GEAzB&t=%5Bzdch%5D%20zdch's%20decklist%20(Top%2064)" target="_blank">view deck &#9658; </a>
    </p>

  </section>

  <!-- 6th -->
  <section class="topDeckProfile">

    <img alt="Card Image" src="https://cards.eternalwarcry.com/cards/full/Kairos'_Choice.png" class="galleryDeck" />

    <h2 class="topDeckTitle">
      &#9658;<a href="https://www.shiftstoned.com/epc/?d=EIBEBLEIGDH3EEInBEIIEIKEH1GE_hBME_hBBE9hBBEIyEDIVLBBEHfCHBECrFEA2BCAABADBFSBCwFBIqBBHsB&t=%5BGolence%5D%20Golence's%20decklist%20(Top%2064)" target="_blank"><u>Golence's Decklist</u></a> (Praxis Aggro)
    </h2>

    <p>
      Paragraph
    </p>
    <p>
      <span style="color: #81C3F4"><strong>Standout feature:</strong></span> Something something new paragraph.
    </p>

    <p style="" />
      <a href="https://www.shiftstoned.com/epc/?d=EIBEBLEIGDH3EEInBEIIEIKEH1GE_hBME_hBBE9hBBEIyEDIVLBBEHfCHBECrFEA2BCAABADBFSBCwFBIqBBHsB&t=%5BGolence%5D%20Golence's%20decklist%20(Top%2064)" target="_blank">view deck &#9658; </a>
    </p>

  </section>

  <!-- 7th -->
  <section class="topDeckProfile">

    <img alt="Card Image" src="https://cards.eternalwarcry.com/cards/full/Auralian_Supplier.png" class="galleryDeck" />

    <h2 class="topDeckTitle">
      &#9658;<a href="https://www.shiftstoned.com/epc/?d=DIBEHkBDBDEIDEBLEIGEInBEIKEH1GE_hBME_hBBE9hBBEIYIBBFB_BEHBECrFEA2BCAABHFBFSBCwFBBwCBHL&t=%5Bnothership%5D%20nothership's%20decklist%20(Top%2064)" target="_blank"><u>nothership's Decklist</u></a> (Praxis Aggro)
    </h2>

    <p>
      Paragraph
    </p>
    <p>
      <span style="color: #81C3F4"><strong>Standout feature:</strong></span> Something something new paragraph.
    </p>

    <p style="" />
      <a href="https://www.shiftstoned.com/epc/?d=DIBEHkBDBDEIDEBLEIGEInBEIKEH1GE_hBME_hBBE9hBBEIYIBBFB_BEHBECrFEA2BCAABHFBFSBCwFBBwCBHL&t=%5Bnothership%5D%20nothership's%20decklist%20(Top%2064)" target="_blank">view deck &#9658; </a>
    </p>

  </section>

  <!-- 8th -->
  <section class="topDeckProfile">

    <img alt="Card Image" src="https://cards.eternalwarcry.com/cards/full/Forbidden-Rider_Outcast.png" class="galleryDeck" />

    <h2 class="topDeckTitle">
      &#9658;<a href="https://www.shiftstoned.com/epc/?d=EI4CEBhGEB4MEHkCE_hBHCH_FDC7GD_hBIED6DEB6GBF_CEHhGEvfSD_hBTBI3CBH5CFB-DIB7FCH9BCH7CEC4GEAzB&t=%5BPortich%5D%20Portich's%20decklist%20(Top%2064)" target="_blank"><u>Portich's Decklist</u></a> (Hooru Midrange)
    </h2>

    <p>
      Paragraph
    </p>
    <p>
      <span style="color: #81C3F4"><strong>Standout feature:</strong></span> Something something new paragraph.
    </p>

    <p style="https://www.shiftstoned.com/epc/?d=EI4CEBhGEB4MEHkCE_hBHCH_FDC7GD_hBIED6DEB6GBF_CEHhGEvfSD_hBTBI3CBH5CFB-DIB7FCH9BCH7CEC4GEAzB&t=%5BPortich%5D%20Portich's%20decklist%20(Top%2064)" />
      <a href="" target="_blank">view deck &#9658; </a>
    </p>

  </section>

  <br><br><br><br>
