---
title: Articles
section: Articles
override:tags: []
page_style: articles-index.css
pagination:
  data: collections
  size: 12
  alias: tag
  filter:
    - all
    - articles
    - drafter
permalink: /articles/tags/{{ tag }}/
---
<section class="articles-list">
<h1>Articles tagged “{{ tag }}”</h1>

{%- set taglist = collections[ tag ] %}
{%- for article in taglist | reverse %}
  <article class="article-brief">
    <header>
      <h2><a href="{{ article.url }}">{{ article.data.meta_title }}</a></h2>
    </header>
    <div class="article-thumbnail">
      <a href="{{ article.url }}">
        <img src="{{ article.data.meta_image or article.data.articleImage }}"
             width="250" height="164.4"
             loading="lazy"
             alt="{{ article.data.meta_image_alt or 'thumbnail graphic' }}" />
      </a>
    </div>
    <section class="article-description">
      <p>
        <strong>{% date article.date %}</strong> - {{ (article.data.description or article.data.meta_description) | frontmatter_md_string | safe }}
      </p>
    </section>
    <footer>
      <p class="highlight">
        <a class="arrow-link" href="{{ article.url }}">Read more</a>
      </p>
    </footer>
  </article>
{%- endfor %}
</section>

{%- if pagination.links | length > 1  %}
<nav class="page-selector" aria-label="Page listings">
  <ul class="pagination">
    <li class="page-nav first">
    {%- if pagination.href.previous %}
      <a href="{{ pagination.href.first }}">
        First
      </a>
    {%- endif %}
    </li>
    <li class="page-nav previous">
    {%- if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">
        Previous
      </a>
    {%- endif %}
    </li>
    <li class="page-nav page-numbers">
      Page: {{ pagination.pageNumber + 1 }} of {{ pagination.links | length  }}
    </li>
    <li class="page-nav next">
    {%- if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Next</a>
    {%- endif %}
    </li>
    <li class="page-nav last">
    {%- if pagination.href.next %}
      <a href="{{ pagination.href.last }}">Last</a>
    {%- endif %}
    </li>
  </ul>
</nav>
{%- endif %}