---
title: Top 8
layout: layouts/index.njk
override:tags: []
---
    <br>
    localbangarang: {{- localbangarang -}}

    <br>
    Position: {{ group.position -}}
    <br>
    Player: {{ group.archetype -}}
    <br>
    epcUrl: {{ group.epcUrl -}}
